{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="author" content="Olumide Joseph" />
    <meta name="resource-type" content="document" />
    <meta name="audience" content="all" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="all" />
    <meta name="description" content="Professional Renewable energy and Management services Mowe-Ofada Ogun State" />
    <meta name="keywords" content="Professional Solar design,Professional solar installation, solar component sales, solar maintenance services, inspection, energy analysis, battery backup installation, customer support, consultancy, solar systems troubleshooting"
    />
    <title>500</title>
    <link rel="stylesheet" href="{% static 'home.css' %}" %} type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />     
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="/site.webmanifest" />
    <link  rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins|Play|Big+Shoulders+Text' />
    <link rel="stylesheet" type="text/css" href="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.css" />
</head>
<body>
    <div class="review container-fluid padding">
        <div class="row">
            <div class="time col-xs-12 col-lg-3 col-md-6">
                <p>
                    <i class="far fa-clock"></i>Mon - Fri 9.00am - 6.00pm</p>
            </div>
            <div class="time col-xs-12 col-lg-2 col-md-6">
                <p>
                    <i class="fas fa-phone-alt"></i>(234)8029442697, (234)8076068609</p>
            </div>
            <div class="col-xs-12 col-lg-3 col-md-6">
                <ol class="links">
                    <li>
                        <a href="https://www.linkedin.com/company/greensource-engineering-consult" id="linkedin">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/greensourceconsult/" id="facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/greensource_eng" id="instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/GreensourceC" id="twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ol>
            </div>
            <div class="book col-xs-12 col-lg-4 col-md-6">
                <p>
                    <i class="far fa-envelope"></i>
                    <a href='ma&#105;lto&#58;hel%6C%&#54;F&#64;gr&#37;6&#53;e%&#54;&#69;&#115;%6F&#117;r%&#54;3e&#37;&#54;&#69;ergy&#46;co%6D'>hell&#111;&#64;&#103;reens&#111;ur&#99;energy&#46;com</a>
                </p>
            </div>
        </div>
    </div>
    <header id="header">
        <div class="container">
            <div id="logo" class="pull-left">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/greensourcelogo3.webp' %}" alt="company logo" />
                </a>
            </div>
        </div>
    </header>
    <div class="container-fluid padding">
        <div class="error row padding">
            <div class="col-lg-12">
                <h4>500</h4>
                <p>Internal Server Error</p>
                <p class="page">An unexpected error occurred. We're looking to see what happened.</p>
                <a href="{% url 'index' %}">Go Back Home</a>
            </div>
        </div>
    </div>
    <script async src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-3.6.0.min.js"><\/script>')</script></script>
    <script async src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/popper.min.js"><\/script>')</script></script>
    <script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>if(typeof($.fn.modal) === 'undefined') {document.write('<script src="/static/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"><\/script>')}</script>
    <script src="{% static 'js/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script>
        var test = document.createElement("div")
        test.className = "hidden d-none"
        document.head.appendChild(test)
        var cssLoaded = window.getComputedStyle(test).display === "none"
        document.head.removeChild(test)
        if (!cssLoaded) {
            var link = document.createElement("link");
            link.type = "text/css";
            link.rel = "stylesheet";
            link.href = "{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}";
            document.head.appendChild(link);
        }
    </script>
</body>
</html>