{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="audience" content="all" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="2 days" />
    <meta name="description" content="Alternative source of power for homes and businesses? Greensource Energy focuses on design and installation solar energy systems harnessing the power of the sun. Contact us now!"/>
    <meta name="keywords" content="solar system, solar panel, solar panel installation, solar energy, solar, solar inverter, solar panel price in nigeria, solar battery, solar street light, 
    solar power system, solar inverter installation, solar lighting system, renewable energy, solar companies in ogun, solar companies in lagos, solar business in nigeria, solar quotes, green energy, energy sources, alternative energy"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="greensourcenergy.com" />
    <meta name="twitter:creator" content="@greenn_energy" />
    <meta name="twitter:title" content="Solar Energy for Homes and Businesses" />
    <meta name="twitter:description" content="Alternative source of power for homes and businesses? Greensource Energy focuses on design and installation solar energy systems harnessing the power of the sun. Contact us now!" />
    <meta name="twitter:image:src" content="greensourcenergy.com/static/images/homepage2.webp" />
    <meta property="og:title" content="Solar Energy for Homes and Businesses - Greensource Energy" />
    <meta property="og:url" content="https://greensourcenergy.com" />
    <meta property="og:site_name" content="Greensource Energy" />
    <meta property="og:image" content="https://greensourcenergy.com/static/images/greensourceelogo4.webp" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Alternative source of power for homes and businesses? Greensource Energy focuses on design and installation solar energy systems harnessing the power of the sun. Contact us now!"/>
    <title>{% block title %}- Greensource Energy {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'home.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />     
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'src/simple-lightbox.min.css' %}" rel='stylesheet' />
    <link href="{% static 'icomoon/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'animate.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'demo.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'owl-carousel/owl.carousel.css' %}" rel="stylesheet" />
    <link href="{% static 'owl-carousel/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
    <link  rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins|Play|Big+Shoulders+Text' />
    <link rel="stylesheet" type="text/css" href="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.css" />
    <link rel="canonical" href="https://greensourcenergy.com/news/">
    <link rel="canonical" href="https://greensourcenergy.com/news/category/x/">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<div class="site-navbar-wrap">
    <div class="site-navbar-top">
        <div class="container-fluid py-3">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="d-flex mr-auto">
                        <a href='ma&#105;lto&#58;hel%6C%&#54;F&#64;gr&#37;6&#53;e%&#54;&#69;&#115;%6F&#117;r%&#54;3e&#37;&#54;&#69;ergy&#46;co%6D'
                            class="d-flex align-items-center mr-4">
                            <span class="icon-envelope mr-2"></span>
                            <span class="d-none d-md-inline-block">hell&#111;&#64;&#103;reens&#111;ur&#99;energy&#46;com</span>
                        </a>
                        <a href="#" class="d-flex align-items-center mr-auto">
                            <span class="icon-phone mr-2"></span>
                            <span class="d-none d-md-inline-block">+234 802 9442 697</span>
                        </a>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <div class="mr-auto">
                        <a href="https://www.twitter.com/greenn_energy" class="p-2 pl-0">
                            <span class="icon-twitter"></span>
                        </a>
                        <a href="https://www.facebook.com/greensourcenergy/" class="p-2 pl-0">
                            <span class="icon-facebook"></span>
                        </a>
                        <a href="https://www.linkedin.com/company/greensource-energy" class="p-2 pl-0">
                            <span class="icon-linkedin"></span>
                        </a>
                        <a href="https://www.instagram.com/greensourcenergy" class="p-2 pl-0">
                            <span class="icon-instagram"></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-2">
                    <div class="site-logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'images/greensourcelogo3.webp' %}" alt="company logo" />
                        </a>
                    </div>
                </div>
                <div class="col-10">
                    <nav class="site-navigation text-right" role="navigation">
                        <div class="container">
                            <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                                <a href="#" class="site-menu-toggle js-menu-toggle text-white">
                                    <span class="icon-menu h3"></span>
                                </a>
                            </div>
                            <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                                <li class="{% block nav-home %}{% endblock %}">
                                    <a href="{% url 'index' %}">Home</a>
                                </li>
                                <li class="{% block nav-about %}{% endblock %} has-children">
                                    <a href="#">About</a>
                                    <ul class="dropdown arrow-top">
                                        <li>
                                            <a href="{% url 'about' %}">Company Profile</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'our_team' %}">Our Team</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'gallery' %}">Gallery</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="{% block nav-service %}{% endblock %} has-children">
                                    <a href="#services">Services</a>
                                    <ul class="dropdown arrow-top">
                                        <li>
                                            <a href="{% url 'services' %}">Our Services</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'service_detail' %}">Services Details</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'pricing' %}">Pricing & Packages</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="{% block nav-projects %}{% endblock %}">
                                    <a href="{% url 'projects' %}">Projects</a>
                                </li>
                                <li class="{% block nav-news %}{% endblock %}">
                                    <a href="{% url 'article_list' %}">News</a>
                                </li>
                                <li class="{% block nav-contact %}{% endblock %}">
                                    <a href="{% url 'contact_us' %}">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}    
<footer class="footer-20192">
    <div class="site-section">
        <div class="container">
            <div class="cta d-block d-md-flex align-items-center px-5">
                <div>
                    <h2 class="mb-0">Ready for a next project?</h2>
                    <h3 class="text-dark">Let's get started!</h3>
                </div>
                <div class="ml-auto">
                    <a href="{% url 'contact_us' %}" class="btn btn-dark rounded-0 py-3 px-5">Contact us</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="{% url 'index' %}" class="footer-logo">
                        <img src="{% static 'images/greensource2.png' %}" alt="company logo" />
                    </a>
                </div>
                <div class="col-sm">
                    <h3>Services</h3>
                    <ul class="list-unstyled links">
                        <li>
                            <a href="{% url 'solar_design' %}">Installation</a>
                        </li>
                        <li>
                            <a href="{% url 'maintenance_service' %}">Maintenance</a>
                        </li>
                        <li>
                            <a href="{% url 'solar_water_pump' %}">Solar pump</a>
                        </li>
                        <li>
                            <a href="{% url 'energy_management' %}">Solar storage </a>
                        </li>
                        <li>
                            <a href="{% url 'electrical_design' %}">Electricals</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h3>Company</h3>
                    <ul class="list-unstyled links">
                        <li>
                            <a href="{% url 'about' %}">About us</a>
                        </li>
                        <li>
                            <a href="{% url 'our_team' %}">Our team</a>
                        </li>
                        <li>
                            <a href="{% url 'gallery' %}">Gallery</a>
                        </li>
                        <li>
                            <a href="{% url 'testimonial' %}">Testimonial</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h3>Information</h3>
                    <ul class="list-unstyled links">
                        <li>
                            <a href="{% url 'faq' %}">FAQs</a>
                        </li>
                        <li>
                            <a href="{% url 'privacy' %}">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="{% url 'terms_of_use' %}">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Connect us</h3>
                    <ul class="list-unstyled links">
                        <li>
                            <p>1, Heritage street by anobi Noah, arogun Mowe-Ofada Ogun.</p>
                        </li>
                        <li>
                            <a href='ma&#105;lto&#58;hel%6C%&#54;F&#64;gr&#37;6&#53;e%&#54;&#69;&#115;%6F&#117;r%&#54;3e&#37;&#54;&#69;ergy&#46;co%6D'>hell&#111;&#64;&#103;reens&#111;ur&#99;energy&#46;com</a>
                        </li>
                        <li>
                            <p>0802-9442-697&nbsp;0807-6068-609</p>
                        </li>
                    </ul>
                    <h3>Follow us</h3>
                    <ul class="list-unstyled social">
                        <li>
                            <a href="https://www.twitter.com/greenn_energy">
                                <span class="icon-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/greensourcenergy/">
                                <span class="icon-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/greensource-energy">
                                <span class="icon-linkedin"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/greensourcenergy">
                                <span class="icon-instagram"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="back-to-top">
        <i class="fa fa-arrow-up"></i>
    </a>
    <p class="copyright">
        <small>&copy; Copyright &copy; 2021 All Rights Reserved | Greensource Energy</small>
    </p>
</footer>
    <script async src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-3.3.1.min.js"><\/script>')</script></script>
    <script async src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/popper.min.js"><\/script>')</script></script>
    <script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>if(typeof($.fn.modal) === 'undefined') {document.write('<script src="/static/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"><\/script>')}</script>
    <script src="{% static 'js/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'src/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'src/waypoints.min.js' %}"></script>
    <script src="{% static 'src/wow.min.js' %}"></script>
    <script src="{% static 'owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'src/hoverIntent.min.js' %}"></script>
    <script src="{% static 'src/superfish.min.js' %}"></script>
    <script src="{% static 'src/simple-lightbox.min.js' %}"></script>
    <script src="{% static 'src/multislider.min.js' %}"></script>
    <script src="{% static 'src/jquery.sticky.js' %}"></script>
    <script src="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.js" defer></script>    
    <script>
        var test = document.createElement("div")
        test.className = "hidden d-none"
        document.head.appendChild(test)
        var cssLoaded = window.getComputedStyle(test).display === "none"
        document.head.removeChild(test)
        if (!cssLoaded) {
            var link = document.createElement("link");
            link.type = "text/css";
            link.rel = "stylesheet";
            link.href = "{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}";
            document.head.appendChild(link);
        }
    </script>
    <script>window.addEventListener("load", function () { window.wpcc.init({ "border": "normal", "corners": "small", "colors": { "popup": { "background": "#222222", "text": "#ffffff", "border": "#192712" }, "button": { "background": "#b5e1a0", "text": "#000000" } }, "position": "bottom-right", "content": { "href": "https://www.greensourcenergy.com/privacy-Policy/" } }) });</script>
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '680910845861426');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" src="https://www.facebook.com/tr?id=680910845861426&ev=PageView&noscript=1"/></noscript>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-179025578-1');
    </script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
              "@type": "ProfessionalService",
              "name": "Greensource Energy Consult",
              "image": "https://greensourcenergy.com/static/images/greensourcelogo4.webp",
              "url": "https://www.greensourcenergy.com",
              "telephone": "(234)802 9442 697",
              "address": {
                "@type": "PostalAddress",
                "streetAddress": "1 heritage street btanobi noah, arogun",
                "addressLocality": "mowe-ofada",
                "addressRegion":"OG"
                "addressCountry": "NG"  
            }  
        }
    </script> 
    <script>
        var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?89325';
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = url;
        var options = {
      "enabled":true,
      "chatButtonSetting":{
          "backgroundColor":"#006420",
          "ctaText":"",
          "borderRadius":"25",
          "marginLeft":"0",
          "marginBottom":"55",
          "marginRight":"10",
          "position":"right"
      },
      "brandSetting":{
          "brandName":"GREENSOURCE ENERGY",
          "brandSubTitle":"Reliable, Fits the bill !",
          "brandImg":"https://www.greensourcenergy.com/static/images/ceo.webp",
          "welcomeText":"Hello!\nHow can we help you today?",
          "messageText":"Hello, I have a question.",
          "backgroundColor":"#006420",
          "ctaText":"Send Message",
          "borderRadius":"25",
          "autoShow":false,
          "phoneNumber":"2348029442697"
      }
    };
        s.onload = function() {
            CreateWhatsappChatWidget(options);
        };
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    </script> 
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/60599a8f067c2605c0bb4404/1f1f07ha0';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    </body>
</html>

