{% extends 'base_layout.html' %}
{% block nav-about %} active {% endblock %} 
{% load static %} 
{% block title %}Company Profile {{ block.super }} {% endblock %} 
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>About Greensource Solar</h1> 
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>
</nav>
<div class=" container-fluid padding page-header">
    <h2>We Are Developers And Operators Of Sustainable Energy Solution</h2>
</div>
<div class="container-fluid padding">
    <div class="about-us row padding">
        <div class="col">
            <div class="wow fadeIn" data-wow-duration="3s" data-wow-delay="0.3s" data-wow-offset="0">
                <img src="{% static 'images/abt-img.jpg' %}" class="img-fluid" alt="rooftop installation" />
                <div class="bubbled-text-block wow fadeIn" data-wow-duration="400">
                    <div class="inner-box">
                        <span data-toggle="counter-up">5</span>
                        <span class="sign">+</span>
                        <p> YEARS OF
                            <br /> EXPERIENCE</p>
                    </div>
                </div>
            </div>
            <p>
                At Greensource Energy Consult, we are dedicated to providing sustainable and efficient solar solutions to meet your energy needs. With a passion for renewable energy and a commitment to excellence, we strive to make a positive impact on the environment while helping our customers save money on their energy bills.
                <br/>Our company was founded with a clear mission in mind: to accelerate the adoption of solar power as a viable and accessible energy source. We believe that solar energy has the potential to revolutionize the way we power our homes, businesses, and communities, reducing our reliance on fossil fuels and mitigating the harmful effects of climate change.
                <br/><br/>We are excited to be part of your solar journey and look forward to helping you harness the power of the sun. Contact us today to learn more about our solar solutions and how we can assist you in embracing a brighter, more sustainable future.
            </p>
        </div>
    </div>
</div>
<section>
    <div class="container-fluid padding">
        <div class="service col-12">
            <p class="head">Our Values</p>
            <hr />
            <p>Building structure for sustainability</p>
        </div>
        </div>
        <div class="container padding">
        <div class="mission owl-carousel owl-theme" id="vision">
            <div class="item">
            <div class="vision">
                <span>Mission</span>
                <p>Our mission is to provide exceptional solar solutions that meet the unique needs of our clients while making a lasting difference
                    for the environment. Through personalized service and ongoing support, we aim to exceed our customers' expectations and
                    inspire them to embrace a sustainable energy future.</p>
            </div>
            </div>
            <div class="item">
            <div class="vision">
                <span>Core Values</span>
                <ul class="create">
                    <li>sustainability</li>
                    <li>Customer Focus</li>
                    <li>Integrity</li>
                    <li>Innovation</li>
                    <li>Quality</li>
                    <li>Collaboration</li> 
                    <li>Continous improvement</li> 
                </ul>
            </div>
            </div>
            <div class="item">
            <div class="vision">
                <span>Vision</span>
                <p>Our vision is to be a global leader in accelerating the widespread adoption of solar energy as the
                    primary source of power. We envision a future where clean, renewable energy is accessible, affordable, and a cornerstone
                    of sustainable development worldwide.</p>
            </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container padding">
        <div class="row padding">
        <div class="why-us padding">
        <h3>Why Choose Greensource Energy?</h3>
            <ul>
                <i class="fas fa-check"></i><li><strong>Expertise and Innovation:</strong>
                    <p>Our team of solar energy experts brings together extensive knowledge and experience in the industry. We stay at the forefront of solar technology advancements to deliver innovative and efficient solutions that meet your unique energy needs.</p></li>
                <i class="fas fa-check"></i><li><strong>Customized Solar Solutions:</strong>
                    <p>We understand that every home and business is different. That's why we tailor our solar solutions to match your specific requirements. From residential installations commercial projects, our customized approach ensures maximum energy generation and cost savings.</p></li>
                <i class="fas fa-check"></i><li><strong>Quality and Reliability:</strong>
                    <p>At SolarPower Solutions, we prioritize quality in everything we do. We partner with top-tier manufacturers to source the highest-quality solar panels and equipment. Our installations are built to last, ensuring long-term performance and peace of mind.</p></li>
                <i class="fas fa-check"></i><li><strong>Sustainability and Environmental Responsibility:</strong>
                    <p>By harnessing the power of the sun, we help you reduce your carbon footprint and minimize reliance on non-renewable energy sources. Going solar with us is a tangible step towards a more sustainable future, as we collectively work towards combating climate change and preserving the planet for generations to come.</p></li>
                <i class="fas fa-check"></i><li><strong>Seamless Installation and Support:</strong>
                    <p>Our team of certified professionals takes care of every aspect of your solar journey, from initial consultation and system design to installation and ongoing maintenance. We guide you through the process, providing personalized support and ensuring a hassle-free transition to solar energy.</p></li>
            </ul>
        </div>
    </div>    
    </div>
</section>
<section>
<div class="container-fluid padding">
    <div class="service-two col-12">
        <p class="head"><i class="fas fa-long-arrow-alt-right"></i>How We Work</p>
        <p>At SolarPower Solutions, our approach to solar energy is characterized by a comprehensive and customer-centric process.</p>
    </div>
    <div class="row work-mode padding">
        <div class="working col-xs-12 col-md-6 col-lg-3">
            <span>1</span>
                <h4>Initial Consultation</h4>
                <p>We begin by scheduling an initial consultation with our customers. During this phase, we listen to their energy needs, goals, and any specific requirements they may have. We also assess the site, taking into account factors such as location, shading, and available space.</p>   
        </div>
        <div class="working col-xs-12 col-md-6 col-lg-3">
            <span>2</span>
                <h4>System Design</h4>
                <p>From the information gathered during the consultation and site assessment, we will design a customized solar solution tailored to the customer's specific requirements. This includes determining the optimal system size, placement and selection of high-quality components.</p>
        </div>
        <div class="working col-xs-12 col-md-6 col-lg-3">
            <span>3</span>
                <h4>Project Planning</h4>
                <p>Once the design is accepted, we will handle all the necessary applications required for the installation. Our experienced team ensures compliance with local regulations and coordinates with relevant authorities to obtain the necessary approvals.</p>
        </div>
        <div class="working col-xs-12 col-md-6 col-lg-3">
            <span>4</span>
                <h4>Installation</h4>
                <p>Our certified and experienced installation team takes charge of the installation process. We strive to minimize disruption and complete the installation efficiently while maintaining the highest standards of workmanship and safety.</p>
        </div>
        <div class="working col-xs-12 col-md-6 col-lg-3">
            <span>5</span>
                <h4>System Testing</h4>
                <p>After the physical installation is complete, our team performs rigorous testing and quality checks to ensure that the solar system is operating optimally. We integrate the system with the electrical grid or battery storage, depending on the configuration, and verify its performance to guarantee seamless operation.</p>
        </div>
        <div class="working col-xs-12 col-md-6 col-lg-3">
            <span>6</span>
                <h4>Project Handover</h4>
                <p>As part of our commitment to customer satisfaction, we provide comprehensive training and education on the installed solar system. We explain how it works, its maintenance requirements. We empower our customers to fully understand and maximize the benefits of their solar investment.</p>
        </div>
        <div class="working col-xs-12 col-md-6 col-lg-3">
            <span>7</span>
                <h4>Support and Maintenance</h4>
                <p>Even after the installation is complete, our relationship with the customer continues. We offer ongoing support, addressing any inquiries or concerns that may arise. We also provide routine maintenance services to ensure the system operates at its peak performance, maximizing energy generation and savings.</p>
        </div>
        <div class="working col-xs-12 col-md-6 col-lg-3">
            <span>8</span>
                <h4>Performance Analysis</h4>
                <p>We offer remote monitoring services to track the performance of the solar system continuously. This allows us to identify any issues or inefficiencies promptly. Analyzing system, we can provide insights and recommendations for optimizing energy production and long-term performance.</p>
        </div>
    </div>
</div>
</section>
<section>
    <div class="container-fluid padding">
        <div class="service-two col-12">
            <p class="head"><i class="fas fa-long-arrow-alt-right"></i>Greensource Team</p>
            <p>Greensource is run by awesome people</p>
        </div>
        <div class="container padding">
        <div class="row team-area owl-carousel owl-theme" id="team-one">
            <div class="item">
                <div class="wow fadeIn single-team" data-wow-duration="3s" data-wow-delay="1.2s" data-wow-offset="10">
                    <amp-img src="{% static 'images/ceo.jpg' %}" alt="C.E.O" layout="responsive" width="1" height="1"></amp-img>
                    <div class="team-text">
                        <span>Olumide Joseph</span>
                        <p>Founder/CEO</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="wow fadeIn single-team" data-wow-duration="3s" data-wow-delay="0.6s" data-wow-offset="10">
                    <amp-img src="{% static 'images/onifade.webp' %}" alt="Marketing Lead" layout="responsive" width="1" height="1"></amp-img>
                    <div class="team-text">
                        <span>Onifade Dolapo</span>
                        <p>Social Media</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="wow fadeIn single-team" data-wow-duration="3s" data-wow-delay="0.6s" data-wow-offset="10">
                    <amp-img src="{% static 'images/tola.webp' %}" alt="Lead Engineer" layout="responsive" width="1" height="1"></amp-img> 
                    <div class="team-text">
                        <span>Adeyemi Tola</span>
                        <p>Installer</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}