{% extends 'base_layout.html' %}
{% block nav-about %} active {% endblock %} 
{% load static %} 
{% block title %}Company Profile {{ block.super }} {% endblock %} 
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>About Greensource Solar</h1> 
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>
</nav>
<div class=" container-fluid padding page-header">
    <h2>We Are Developers And Operators Of Sustainable Energy Solution</h2>
</div>
<div class="container-fluid padding">
    <div class="about-us row padding">
        <div class="col">
            <div class="wow fadeIn" data-wow-duration="3s" data-wow-delay="0.3s" data-wow-offset="0">
                <img src="{% static 'images/abt-img.jpg' %}" class="img-fluid" alt="rooftop installation" />
                <div class="bubbled-text-block wow fadeIn" data-wow-duration="400">
                    <div class="inner-box">
                        <span data-toggle="counter-up">100</span>
                        <span class="sign">+</span>
                        <h3> PANELS
                            <br /> INSTALLED</h3>
                    </div>
                </div>
            </div>
            <p>
                Greensource Energy Consult is a registered and certified solar energy system design, installation, operation and maintenance
                company. Built up in 2018, we have developed a solid client centered methodology to achieve growth and sustainability.
                'Greensource Energy Consult' has pratical experience in custom solar power arrangements. At Greensource Energy
                Consult, we welcome you to love solar home systems too. We are committed to helping you appreciate the change
                to solar and to live in solace and without dread of your electric and utility bills. Greensource Energy Consult
                enables you to use clean vitality and appreciate free power from the sun harnessing it to power your homes
                and businesses, while contributing to reduce global pollution and carbon footprints. It is our duty to give
                extraordinary consumer loyalty and administration in each part of your solar energy investment.
            </p>
            <h5>Why People Choose Us</h5>
            <ul>
                <i class="fas fa-check"></i><li>There are complexities that not many solar installers know about</li>
                <i class="fas fa-check"></i><li>Our Installations are without shortcuts and completely detailed</li>
                <i class="fas fa-check"></i><li>Feeling overwhelmed with different choice of products, We will guide you</li>
                <i class="fas fa-check"></i><li>Want to deal with with one person from start to finish? We are the right plug</li>
            </ul>
        </div>
    </div>
</div>
<section>
    <div class="container-fluid padding">
        <div class="service col-12">
            <h5>Our Values</h5>
            <hr />
            <p>Building structure for sustainability</p>
        </div>
        </div>
        <div class="container padding">
        <div class="mission owl-carousel owl-theme" id="vision">
            <div class="item">
            <div class="vision">
                <h4>Mission</h4>
                <p>Our mission is to promote renewable energy technologies,
                energy efficiency and sustainable energy that benefits everyone.</p>
            </div>
            </div>
            <div class="item">
            <div class="vision">
                <h4>Core Values</h4>
                <ul class="create">
                    <li>Customer Centric</li>
                    <li>Reliability</li>
                    <li>Integrity</li>
                    <li>Accountability</li>
                    <li>Teamwork</li>
                    <li>Education</li> 
                </ul>
            </div>
            </div>
            <div class="item">
            <div class="vision">
                <h4>Vision</h4>
                <p>Our vision is to build a sustainable energy future, providing solutions to manage energy and environmental
                    sustainability</p>
            </div>
            </div>
        </div>
    </div>
</section>
<section>
<div class="container-fluid padding">
    <div class="service-two col-12">
        <h5><i class="fas fa-long-arrow-alt-right"></i>How We Work</h5>
        <p>Our Work Flow Process</p>
    </div>
    <div class="row work-mode padding">
        <div class="working col-xs-12 col-md-6 col-lg-3">
            <h5>1</h5>
                <h4>Site Visit</h4>
                <p>We visit site to determine the solar resource availability and constraints to installation</p>   
        </div>
        <div class="working col-xs-12 col-md-6 col-lg-3">
            <h5>2</h5>
                <h4>Analysis</h4>
                <p>we carry out load analysis to dertermine the best solar option that fits individual clients</p>
        </div>
        <div class="working col-xs-12 col-md-6 col-lg-3">
            <h5>3</h5>
                <h4>Design</h4>
                <p>After analysis, we determine all solar components that will be suitable for the design</p>
        </div>
        <div class="working col-xs-12 col-md-6 col-lg-3">
            <h5>4</h5>
                <h4>Installation</h4>
                <p>We implement the designs with standard operational procedures with safety of clients in mind</p>
        </div>
    </div>
</div>
</section>
<section>
    <div class="container-fluid padding">
        <div class="row benefits padding">
            <div class="service col-12">
                <h5>Great Results Guaranteed</h5>
                <hr />
                <p>What we are able to help you with</p>
            </div>
            <div class="radial col-lg-4 col-sm-6 col-xs-12">
                <img src="{% static 'images/energy (1).png' %}" alt="hand image" />
                <h5>Energy saving</h5>
                <p>On installation you get to save money through controlled energy monitoring and consumption.</p>
            </div>
            <div class="radial col-lg-4 col-sm-6 col-xs-12">
                <img src="{% static 'images/computer.png' %}" alt="flexibility image"/>
                <h5>Unique designs</h5>
                <p>Our unique set of custom designs are tailored to meet your energy needs irrespective of energy consumption.</p>
            </div>
            <div class="radial col-lg-4 col-sm-6 col-xs-12">
                <img src="{% static 'images/growth.png' %}" alt="upward chart image"/>
                <h5>Long term savings</h5>
                <p>Initial cost of installing a solar system is high, but you get to save cost on electricity and other utility cost over the years</p>
            </div>
            <div class="radial col-lg-4 col-sm-6 col-xs-12">
                <img src="{% static 'images/hand-shake.png' %}" alt="handshake image"/>
                <h5>Client satisfaction</h5>
                <p>With great partnership & effective communication, Our goal is to deliver quality service every step of the
                    way.</p>
            </div>
            <div class="radial col-lg-4 col-sm-6 col-xs-12">
                <img src="{% static 'images/planet-earth.png' %}" alt="shield and security image"/>
                <h5>Sustainable/Durable</h5>
                <p>Low maintenance, reliability and sustainability are the hallmark of solar energy system installations.
                </p>
            </div>
            <div class="radial col-lg-4 col-sm-6 col-xs-12">
                <img src="{% static 'images/eco-friendly.png' %}" alt="house with flowers"/>
                <h5>Clean energy</h5>
                <p>Solar energy technologies produces clean energy with zero carbon emission improving living standard.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid padding">
        <div class="service-two col-12">
            <h5><i class="fas fa-long-arrow-alt-right"></i>Greensource Team</h5>
            <p>Greensource is run by awesome people</p>
        </div>
        <div class="container padding">
        <div class="row team-area owl-carousel owl-theme" id="team-one">
            <div class="item">
                <div class="wow fadeIn single-team" data-wow-duration="3s" data-wow-delay="1.2s" data-wow-offset="10">
                    <img src="{% static 'images/ce.webp' %}" alt="C.E.O">
                    <div class="team-text">
                        <h5>Olumide Joseph</h5>
                        <p>MD/CEO</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="wow fadeIn single-team" data-wow-duration="3s" data-wow-delay="0.6s" data-wow-offset="10">
                    <img src="{% static 'images/onifade.webp' %}" alt="Marketing Lead">
                    <div class="team-text">
                        <h5>Onifade Dolapo</h5>
                        <p>Business Advisor</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="wow fadeIn single-team" data-wow-duration="3s" data-wow-delay="0.6s" data-wow-offset="10">
                    <img src="{% static 'images/to.webp' %}" alt="Lead Engineer"> 
                    <div class="team-text">
                        <h5>Adeyemi Tola</h5>
                        <p>Lead Engineer</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}