{% extends 'base_layout.html' %}
{% block nav-service %}
menu-active
{% endblock %}
{% load static %}
{% block title %}{{ block.super }} commercial solar{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>COMMERCIAL SOLAR INSTALLATION</h1>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'services' %}">Services</a></li>
        <li class="breadcrumb-item active">Commercial-solar</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="light row padding">
        <ul class="list-group col-lg-4">
            <li class="list-group-item"><a href="{% url 'services' %}"><i class="fas fa-caret-right"></i> All Services</a></li>
            <li class="list-group-item"><a href="{% url 'solar_design' %}"><i class="fas fa-caret-right"></i> Residential Solar</a></li>
            <li class="list-group-item list-group-item-success"><a href="{% url 'commercial_solar' %}"><i class="fas fa-caret-right"></i> Commercial Solar</a></li>
            <li class="list-group-item"><a href="{% url 'off_grid_solar' %}"><i class="fas fa-caret-right"></i> Off-Grid Solar</a></li>
            <li class="list-group-item"><a href="{% url 'electrical_design' %}"><i class="fas fa-caret-right"></i> Solar Lighting</a></li>
            <li class="list-group-item"><a href="{% url 'solar_water_pump' %}"><i class="fas fa-caret-right"></i> Solar Water Pump</a></li>
            <li class="list-group-item"><a href="{% url 'energy_management' %}"><i class="fas fa-caret-right"></i> Solar Storage</a></li>
            <li class="list-group-item"><a href="{% url 'project_management' %}"><i class="fas fa-caret-right"></i> Solar Energy Mgt</a></li>
            <li class="list-group-item"><a href="{% url 'hvac' %}"><i class="fas fa-caret-right"></i> Solar Upgrade</a></li>
            <li class="list-group-item"><a href="{% url 'maintenance_service' %}"><i class="fas fa-caret-right"></i> Solar Maintenance</a></li>
        </ul>
        <div class="col-lg-8">
            <img src="{% static 'images/commercial-solar.webp' %}" alt="commercial solar panels" />
        </div>
    </div>
</div>
<div class="container padding">
        <div class="row details">
            <div>
                <p>
                     We design, install, and operate solar panels for commercial applications ranging from offices, schools, hospitals, and SME
                    markets to serve customers in need of a dependable energy source for business growth, sustainability, and improved (ROI)
                    Return on Investment. Our goal is to increase green energy production while decreasing the carbon footprint in the workplace.
                    due to the use of fossil fuels. Our installations are simple to use, built to meet safety standards, increase efficiency,
                    and ensure long-term viability. We offer technical support and work hard to reach out directly to clients through one-on-one
                    sales as well as a variety of other methods such as phone consultations to provide appropriate solutions based on the needs
                    and desires of the customer.A successful installation will generate profit opportunities for your company/business, increasing
                    the bottom line or revenue streams. We can assist you in taking advantage of this service if you have this much information
                    at your disposal.
                </p>
            </div>
        </div>
</div>
<div class="container-fluid padding">
        <div class="row base">
            <div class="order-list col-lg-5 col-md-6 col-xs-12">
                <h4>Our commercial solar system services includes:</h4>
                <ol>
                        <li>Design</li>
                        <li>Operations</li>
                        <li>Installation</li>
                        <li>Grid Tied System</li>
                        <li>Technical support</li>
                </ol>
            </div>
            <div class="order-list col-lg-5 col-md-6 col-xs-12">
                <img src="{% static 'images/institution.webp' %}" alt="commercial building"/>
            </div>
        </div>
</div>
<section id="call-to-action">
    <div class="container-fluid padding wow fadeIn">
        <div class="row">
                <p class="col-lg-9 col-md-8 col-xs-12 cta-text">Want to start a custom fit Project for your home/business? &nbsp Talk to an Authorized Solar Professional.</p>
                <h3 class="col-lg-3 col-md-4 col-xs-12">
                <a href="{% url 'contact_us' %}">Get in Touch
                    <i class="fas fa-arrow-right"></i>
                </a>
                </h3>
        </div>
    </div>
</section>
{% endblock %}