{% extends 'base_layout.html' %}
{% block nav-design-plans %}
menu-active
{% endblock %}
{% load static %}
{% block title %}{{ block.super }} products{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>Solar Sytem Components</h1>
            <h2>Get good deals on our solar system components</h2>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Pages</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12 heading">
            <h1>solar modules</h1>
        </div>
       
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{% static 'images/epever-70.jpeg' %}" alt="img" />
                </div>

                <p class="detail">150w monocrystalline module</p>
                <div class="cart">
                    <a href="#">N25, 000</a>
                </div>
            </div>
        </div>           
</div>
</div>
</div>
{% endblock %}