{% extends 'base_layout.html' %}
{% block nav-design-plans %}
menu-active
{% endblock %}
{% load static %}
{% block title %}{{ block.super }} pricing{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>PLAN AND PRICING</h1>
            <h2>Pricing for our various solar system designs</h2>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Pages</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Pricing</li>
    </ol>
</nav>
<section>
    <div class="container-fluid padding">
        <div class="pricing-table">
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="table">
                <h2>mini-kit</h2>
                <div class="prices">
                    N160, 000
                    <span>
                        <strong>200w</strong> module
                        <br />
                        <strong>1kva</strong> inveter
                        <br />
                        <strong>60ah</strong> battery
                        <br />
                        <strong>30amp</strong> controller</span>
                </div>
                <ul>
                    <h4>load capacity</h4>
                    <li>
                        <strong>1</strong> Mini TV</li>
                    <li>
                        <strong>1</strong> Fan</li>
                    <li>
                        <strong>4</strong> Lighting points</li>
                    <li>
                        <strong>1</strong> Decoder</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="table">
                    <h2>mini-kit 2</h2>
                    <div class="prices">
                        N220, 000
                        <span>
                            <strong>300w</strong> module
                            <br />
                            <strong>1kva</strong> inveter
                            <br />
                            <strong>100ah</strong> battery
                            <br />
                            <strong>30amp</strong> controller</span>
                    </div>
                    <ul>
                        <h4>load capacity</h4>
                        <li>
                            <strong>1</strong> TV</li>
                        <li>
                            <strong>1</strong> Fan</li>
                        <li>
                            <strong>4</strong> Lighting points</li>
                        <li>
                            <strong>1</strong> Decoder</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="table">
                    <h2>regular</h2>
                    <div class="prices">
                        N335,000
                        <span>
                            <strong>450w</strong> module
                            <br />
                            <strong>1kva</strong> inveter
                            <br />
                            <strong>200ah</strong> battery
                            <br />
                            <strong>30amp</strong> controller</span>
                    </div>
                    <ul>
                        <h4>load capacity</h4>
                        <li>
                            <strong>1</strong> TV</li>
                        <li>
                            <strong>2</strong> Fans</li>
                        <li>
                            <strong>6</strong> Lighting points</li>
                        <li>
                            <strong>1</strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="table">
                    <h2>regular 2</h2>
                    <div class="prices">
                        N421, 500
                        <span>
                            <strong>600w</strong> module
                            <br />
                            <strong>1.5kva</strong> inveter
                            <br />
                            <strong>200ah</strong> battery
                            <br />
                            <strong>40amp</strong> controller</span>
                    </div>
                    <ul>
                        <h4>load capacity</h4>
                        <li>
                            <strong>1</strong> TV</li>
                        <li>
                            <strong>4</strong> Fans</li>
                        <li>
                            <strong>8</strong> Lighting points</li>
                        <li>
                            <strong>1</strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="table">
                    <h2>standard</h2>
                    <div class="prices">
                        N587, 750
                        <span>
                            <strong>750w</strong> module
                            <br />
                            <strong>2.2kva</strong> inveter
                            <br />
                            <strong>300ah</strong> battery
                            <br />
                            <strong>50amp</strong> controller</span>
                    </div>
                    <ul>
                        <h4>load capacity</h4>
                        <li>
                            <strong>2</strong> TV</li>
                        <li>
                            <strong>5</strong> Fans</li>
                        <li>
                            <strong>10</strong> Lighting points</li>
                        <li>
                            <strong>1</strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="table">
                    <h2>standard 2</h2>
                    <div class="prices">
                        N684, 300
                        <span>
                            <strong>900w</strong> module
                            <br />
                            <strong>2.2kva</strong> inveter
                            <br />
                            <strong>400ah</strong> battery
                            <br />
                            <strong>50amp</strong> controller</span>
                    </div>
                    <ul>
                        <h4>load capacity</h4>
                        <li>
                            <strong>2</strong> TV &nbsp;
                            <strong>5</strong> Fans</li>

                        <li>
                            <strong>1</strong> Mini fridge</li>
                        <li>
                            <strong>12</strong> Lighting points</li>
                        <li>
                            <strong>1</strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="table">
                    <h2>compact</h2>
                    <div class="prices">
                        N785, 450
                        <span>
                            <strong>1.08kw</strong> module
                            <br />
                            <strong>2.2kw</strong> inveter
                            <br />
                            <strong>400ah</strong> battery
                            <br />
                            <strong>50amp</strong> controller</span>
                    </div>
                    <ul>
                        <h4>load capacity</h4>
                        <li>
                            <strong>2</strong> TV &nbsp;
                            <strong>6</strong> Fans</li>

                        <li>
                            <strong>1</strong> Mini fridge</li>
                        <li>
                            <strong>14</strong> Lighting points</li>
                        <li>
                            <strong>1</strong> Decoder/Home theater</li>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="table">
                    <h2>compact 2</h2>
                    <div class="prices">
                        N850, 000
                        <span>
                            <strong>1.2kw</strong> module
                            <br />
                            <strong>3kva</strong> inveter
                            <br />
                            <strong>600ah</strong> battery
                            <br />
                            <strong>60amp</strong> controller</span>
                    </div>
                    <ul>
                        <h4>load capacity</h4>
                        <li>
                            <strong>2</strong> TV &nbsp;
                            <strong>6</strong> Fans</li>

                        <li>
                            <strong>1</strong> Fridge/Laptop</li>
                        <li>
                            <strong>16</strong> Lighting points</li>
                        <li>
                            <strong>1</strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="table">
                    <h2>advance</h2>
                    <div class="prices">
                        N1, 200, 250
                        <span>
                            <strong>1.5kw</strong> module
                            <br />
                            <strong>3.5kw</strong> inveter
                            <br />
                            <strong>400ah</strong> battery
                            <br />
                            <strong>60amp</strong> controller</span>
                    </div>
                    <ul>
                        <h4>load capacity</h4>
                        <li>
                            <strong>2</strong> TV &nbsp;
                            <strong>4</strong> Fans</li>

                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong>1</strong> Laptop</li>
                        <li>
                            <strong>14</strong> Lighting points</li>
                        <li>
                            <strong>1</strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="table">
                    <h2>advance 2</h2>
                    <div class="prices">
                        N1 615, 500
                        <span>
                            <strong>1.8kw</strong> module
                            <br />
                            <strong>3.5kw</strong> inveter
                            <br />
                            <strong>600ah</strong> battery
                            <br />
                            <strong>80amp</strong> controller</span>
                    </div>
                    <ul>
                        <h4>load capacity</h4>
                        <li>
                            <strong>2</strong> TV &nbsp;
                            <strong>5</strong> Fans</li>

                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong>2</strong> Laptops</li>
                        <li>
                            <strong>16</strong> Lighting points</li>
                        <li>
                            <strong>1</strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="table">
                    <h2>premium</h2>
                    <div class="prices">
                        N2, 250, 300
                        <span>
                            <strong>2.1kw</strong> module
                            <br />
                            <strong>3.5kw</strong> inveter
                            <br />
                            <strong>800ah</strong> battery
                            <br />
                            <strong>100amp</strong> controller</span>
                    </div>
                    <ul>
                        <h4>load capacity</h4>
                        <li>
                            <strong>3</strong> TV &nbsp;
                            <strong>8</strong> Fans</li>

                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong>2</strong> Laptops</li>
                        <li>
                            <strong>18</strong> Lighting points &nbsp;
                            <strong>1</strong> PC</li>
                        <li>
                            <strong>1</strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="table">
                    <h2>premium 2</h2>
                    <div class="prices">
                        N2, 450, 000
                        <span>
                            <strong>2.4kw</strong> module
                            <br />
                            <strong>3.5kw</strong> inveter
                            <br />
                            <strong>800ah</strong> battery
                            <br />
                            <strong>120amp</strong> controller</span>
                    </div>
                    <ul>
                        <h4>load capacity</h4>
                        <li>
                            <strong>3</strong> TV &nbsp;
                            <strong>8</strong> Fans</li>

                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong>2</strong> Laptops</li>
                        <li>
                            <strong>20</strong> Lighting points &nbsp;
                            <strong>1</strong> PC</li>
                        <li>
                            <strong>1</strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>
<div class="container-fluid padding">
    <div class="service col-12">
        <h5>Our Shop</h5>
        <p>Get the best deals on all our products</p>
        <hr />
    </div>
</div>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12 heading">
            <h1>solar modules</h1>
        </div>
       
        <div class="swiper-slide">
            <div class="slider-box">
                <p class="time">New</p>
                <div class="img-box">
                    <img src="{% static 'images/epever-70.jpeg' %}" alt="img" />
                </div>

                <p class="detail">150w monocrystalline module</p>
                <div class="cart">
                    <a href="#">N25, 000</a>
                </div>
            </div>
        </div>

    
    
<!--     
    <div class="swiper-slide">
    <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
        <img src="{% static 'images/bag2.png' %}" alt="img">
</div>

<p class="detail">12v 180w monocrystalline module</p>
<div class="cart">
<a href="#">N28, 000</a>
</div>
</div>
    
    </div>
    
    
    
    
    
    <div class="swiper-slide">
    <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
        <img src="{% static 'images/bag3.png' %}" alt="img">
</div>

<p class="detail">12v 1kw Keye Inverter</p>
<div class="cart">
<a href="#">25, 000</a>
</div>
</div>
    
    </div>
    
    
    
    
    
    <div class="swiper-slide">
    <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
        <img src="{% static 'images/bag4.png' %}" alt="img">
</div>

<p class="detail">12v 200ah index exide battery</p>
<div class="cart">
<a href="#">N150, 000</a>
</div>
</div>
    
    </div>
    
    
    
    
    <div class="swiper-slide">
    <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
        <img src="{% static 'images/bag5.png' %}" alt="img">
</div>

<p class="detail">12v 150ah index exide battery</p>
<div class="cart">
<a href="#">N120, 000</a>
</div>
</div>
    
    </div>
    
    
    <div class="col-12 heading">
            <h1>solar batteries</h1>
            
            </div>   
    
    
    <div class="swiper-slide">
    <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
        <img src="{% static 'images/bag5.png' %}" alt="img">
</div>

<p class="detail">300w monocrystalline panel</p>
<div class="cart">
<a href="#">N40, 000</a>
</div>
</div>
    
    </div>
    
    
    
    
    
    
    
    
    <div class="swiper-slide">
    <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
        <img src="{% static 'images/bag5.png' %}" alt="img">
</div>

<p class="detail">75amps MPPT charge controller (EP Ever)</p>
<div class="cart">
<a href="#">N65, 000</a>
</div>
</div>
    
    </div>
    
    
    
    
   
    <div class="swiper-slide">
    <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
<img src="{% static 'images/bag5.png' %}" alt="img">
</div>

<p class="detail">2v 1500ah gel battery (Narada)</p>
<div class="cart">
<a href="#">N250, 000</a>
</div>
</div>
    
    </div>
    
    
    
    
   
    <div class="swiper-slide">
    <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
        <img src="{% static 'images/bag5.png' %}" alt="img">
</div>

<p class="detail">250w monocrystalline module</p>
<div class="cart">
<a href="#">N36, 000</a>
</div>
</div>
    
    </div>
    
    
    
    
    <div class="swiper-slide">
    <div class="slider-box">
<p class="time">New</p>
<div class="img-box">
        <img src="{% static 'images/bag5.png' %}" alt="img">
</div>

<p class="detail">12v 3.5kw High power Inveter</p>
<div class="cart">
<a href="#">N396, 000</a>
</div>
</div>
    
    </div>
    
    <div class="col-12 heading">
            <h1>Power Inverters</h1>
            
            </div>

    
      
     
      <div class="swiper-slide">
            <div class="slider-box">
        <p class="time">New</p>
        <div class="img-box">
                <img src="{% static 'images/bag1.png' %}" alt="img">
        </div>
        
        <p class="detail">150w monocrystalline module</p>
        <div class="cart">
        <a href="#">N25, 000</a>
        </div>
        </div>
            
            </div>
            
            
            
            
            <div class="swiper-slide">
            <div class="slider-box">
        <p class="time">New</p>
        <div class="img-box">
                <img src="{% static 'images/bag2.png' %}" alt="img">
        </div>
        
        <p class="detail">12v 180w monocrystalline module</p>
        <div class="cart">
        <a href="#">N28, 000</a>
        </div>
        </div>
            
            </div>
            
            
            
            
            
            <div class="swiper-slide">
            <div class="slider-box">
        <p class="time">New</p>
        <div class="img-box">
                <img src="{% static 'images/bag3.png' %}" alt="img">
        </div>
        
        <p class="detail">12v 1kw Keye Inverter</p>
        <div class="cart">
        <a href="#">25, 000</a>
        </div>
        </div>
            
            </div>
            
            
            
            
            
            <div class="swiper-slide">
            <div class="slider-box">
        <p class="time">New</p>
        <div class="img-box">
                <img src="{% static 'images/bag4.png' %}" alt="img">
        </div>
        
        <p class="detail">12v 200ah index exide battery</p>
        <div class="cart">
        <a href="#">N150, 000</a>
        </div>
        </div>
            
            </div>
            
            
            
            
            <div class="swiper-slide">
            <div class="slider-box">
        <p class="time">New</p>
        <div class="img-box">
                <img src="{% static 'images/bag5.png' %}" alt="img">
        </div>
        
        <p class="detail">12v 150ah index exide battery</p>
        <div class="cart">
        <a href="#">N120, 000</a>
        </div>
        </div>
            
            </div>
            
            
            <div class="col-12 heading">
                    <h1>charge controllers</h1>
                    
                    </div>   
            
            
            <div class="swiper-slide">
            <div class="slider-box">
        <p class="time">New</p>
        <div class="img-box">
                <img src="{% static 'images/bag5.png' %}" alt="img">
        </div>
        
        <p class="detail">300w monocrystalline panel</p>
        <div class="cart">
        <a href="#">N40, 000</a>
        </div>
        </div>
            
            </div>
            
            
            
            
            
            
            
            
            <div class="swiper-slide">
            <div class="slider-box">
        <p class="time">New</p>
        <div class="img-box">
                <img src="{% static 'images/bag5.png' %}" alt="img">
        </div>
        
        <p class="detail">75amps MPPT charge controller (EP Ever)</p>
        <div class="cart">
        <a href="#">N65, 000</a>
        </div>
        </div>
            
            </div>
            
            
            
            
            
            <div class="swiper-slide">
            <div class="slider-box">
        <p class="time">New</p>
        <div class="img-box">
        <img src="{% static 'images/bag5.png' %}" alt="img">
        </div>
        
        <p class="detail">2v 1500ah gel battery (Narada)</p>
        <div class="cart">
        <a href="#">N250, 000</a>
        </div>
        </div>
            
            </div>
            
            
            
            
           
            <div class="swiper-slide">
            <div class="slider-box">
        <p class="time">New</p>
        <div class="img-box">
                <img src="{% static 'images/bag5.png' %}" alt="img">
        </div>
        
        <p class="detail">250w monocrystalline module</p>
        <div class="cart">
        <a href="#">N36, 000</a>
        </div>
        </div>
            
            </div>
            
            
            
          
            <div class="swiper-slide">
            <div class="slider-box">
        <p class="time">New</p>
        <div class="img-box">
                <img src="{% static 'images/bag5.png' %}" alt="img">
        </div>
        
        <p class="detail">12v 3.5kw High power Inveter</p>
        <div class="cart">
        <a href="#">N396, 000</a>
        </div>
        </div>
            
            </div> -->







</div>
<div class="info">
        <p>NB: Prices are subject to change due to market forces<br />Each pricing plan can be modified to meet customers specifications</p>
    </div>
</div>
</div>
{% endblock %}