{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %}
{% block title %}Solar Street Lights Solutions {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>Solar Lighting</h1>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'services' %}">Services</a></li>
        <li class="breadcrumb-item active">Solar Lighting</li>
    </ol>
</nav>
<div class="container padding">
    <div class="row padding">
        <div class="service-list padding">
            <img src="{% static 'images/solar-light.webp' %}" alt="solar street light" />
            <p>
                At Greensource Energy Consult, we specialize in providing solar street light services, offering sustainable lighting solutions
                for streets, highways, parking lots, parks, and other outdoor areas. Our expertise in solar technology allows us
                to design, install, and maintain solar street light systems that are energy-efficient, cost-effective, and environmentally
                friendly. Here's an overview of our solar street light services:
            </p>
            <ul>
                <li>Customized Design</li>
                <li>Energy Efficiency</li>
                <li>Professional Insttallation</li>
                <li>Maintenance and Support</li>
                <li>Component Replacement</li>
            </ul>
            <p>At Greensource Energy Consult, we are committed to delivering reliable, efficient, and sustainable solar street light services.
                Whether you need lighting for a small residential street or a large urban development project, we have the expertise
                to meet your needs. Contact us today to discuss your solar street light requirements and embark on a brighter and
                more sustainable lighting solution.
            </p>
        </div>
    </div>
</div>
{% endblock %}