{% extends 'base_layout.html' %}
{% block nav-service %}
menu-active
{% endblock %}
{% load static %}
{% block title %}Solar Storage Solutions {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <p>Solar Storage Solution</p>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="breadcrumb-item active">Storage Solution</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="light row padding">
        <ul class="list-group col-lg-4">
            <li class="list-group-item"><a href="{% url 'services' %}"><i class="fas fa-caret-right"></i> All Services</a></li>
            <li class="list-group-item"><a href="{% url 'solar_design' %}"><i class="fas fa-caret-right"></i> Residential Solar</a></li>
            <li class="list-group-item"><a href="{% url 'commercial_solar' %}"><i class="fas fa-caret-right"></i> Commercial Solar</a></li>
            <li class="list-group-item"><a href="{% url 'off_grid_solar' %}"><i class="fas fa-caret-right"></i> Inverter Installation</a></li>
            <li class="list-group-item"><a href="{% url 'electrical_design' %}"><i class="fas fa-caret-right"></i> Solar Lighting</a></li>
            <li class="list-group-item"><a href="{% url 'solar_water_pump' %}"><i class="fas fa-caret-right"></i> Solar Water Pump</a></li>
            <li class="list-group-item list-group-item-success"><a href="{% url 'energy_management' %}"><i class="fas fa-caret-right"></i> Solar Storage</a></li>
            <li class="list-group-item"><a href="{% url 'project_management' %}"><i class="fas fa-caret-right"></i> Solar Energy Mgt</a></li>
            <li class="list-group-item"><a href="{% url 'hvac' %}"><i class="fas fa-caret-right"></i> Electrical Installation</a></li>
            <li class="list-group-item"><a href="{% url 'maintenance_service' %}"><i class="fas fa-caret-right"></i> Upgrade / Maintenance</a></li>
        </ul>
        <div class="col-lg-8">
            <img src="{% static 'images/battery.webp' %}" />
        </div>
    </div>
</div>
<div class="container padding">
    <div class="row details">
        <div>
            <p>
                We build energy storage for solar energy systems, which is important for ensuring a consistent power supply during peak
                load times. Energy storage, we believe, is a critical component and major backbone of renewable energy systems, especially
                in our area, where electricity supply is insecure and unreliable. We have a lot of experience handling renewable energy systems
                and energy storage. For both residential and industrial projects, we provide expert advice on storage systems. The best resources
                are put to work to find the best solution for our customers' specific needs and budgets. This ensures they run on solar energy
                system and not depend on it whenever it is needed and no direct sunlight will reach your system. Our expertise in energy
                storage solutions ensures you get trusted and reliable storage solution for your solar energy system. Your battery would
                work for the amount of hours / days it was built for with our storage solutions, giving you the full value and advantage
                of your device. Solar energy storage has a large market and will continue to grow in popularity, particularly for electricity
                demand, so our team is dedicated to delivering a reliable, safe product to our customers. Our aim is to ensure that our customers'
                financial needs are met while also ensuring that their long-term energy goals are met.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row base">
        <div class="order-list col-lg-5  col-md-6 col-xs-12">
            <h4>Our energy storage solutions includes:</h4>
            <ol>
                <li>Storage Analysis</li>
                <li>Battery Replacement</li>
                <li>Battery Equalization</li>
                <li>Storage Troubleshooting</li>
                <li>Installation of super capacitors</li>
            </ol>
        </div>
        <div class="order-list col-lg-5 col-md-6 col-xs-12">
            <img src="{% static 'images/storage.webp' %}" />
        </div>
    </div>
</div>
<section id="call-to-action">
    <div class="container-fluid padding wow fadeIn">
        <div class="row">
                <p class="col-lg-9 col-md-8 col-xs-12 cta-text">Need an optimal solar system for your home/business? &nbsp Fill our form to get a CallBack.</p>
                <h3 class="col-lg-3 col-md-4 col-xs-12">
                <a href="{% url 'contact_us' %}">Get in Touch
                    <i class="fas fa-arrow-right"></i>
                </a>
                </h3>
        </div>
    </div>
</section>
{% endblock %}