{% extends 'base_layout.html' %}
{% block nav-service %}
menu-active
{% endblock %}
{% load static %}
{% block title %}{{ block.super }} Solar Energy Storage{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>SOLAR STORAGE SOLUTION</h1>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="breadcrumb-item active">Storage Solution</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="light row padding">
        <ul class="list-group col-lg-4">
            <li class="list-group-item"><a href="{% url 'services' %}"><i class="fas fa-caret-right"></i> All Services</a></li>
            <li class="list-group-item"><a href="{% url 'solar_design' %}"><i class="fas fa-caret-right"></i> Residential Solar</a></li>
            <li class="list-group-item"><a href="{% url 'commercial_solar' %}"><i class="fas fa-caret-right"></i> Commercial Solar</a></li>
            <li class="list-group-item"><a href="{% url 'off_grid_solar' %}"><i class="fas fa-caret-right"></i> Off-Grid Solar</a></li>
            <li class="list-group-item"><a href="{% url 'electrical_design' %}"><i class="fas fa-caret-right"></i> Solar Lighting</a></li>
            <li class="list-group-item"><a href="{% url 'solar_water_pump' %}"><i class="fas fa-caret-right"></i> Solar Water Pump</a></li>
            <li class="list-group-item list-group-item-success"><a href="{% url 'energy_management' %}"><i class="fas fa-caret-right"></i> Energy Storage Solution</a></li>
            <li class="list-group-item"><a href="{% url 'project_management' %}"><i class="fas fa-caret-right"></i> Energy Management</a></li>
            <li class="list-group-item"><a href="{% url 'hvac' %}"><i class="fas fa-caret-right"></i> System Upgrade</a></li>
            <li class="list-group-item"><a href="{% url 'maintenance_service' %}"><i class="fas fa-caret-right"></i> Maintenance</a></li>
        </ul>
        <div class="col-lg-8">
            <img src="{% static 'images/battery.jpg' %}" />
        </div>
    </div>
</div>
<div class="container padding">
    <div class="row details">
        <div>
            <p>
                We design and install energy storage for solar energy systems which is a critical to deliver uninterrupted power supply
                during peak load periods. We believe energy storage is critical and major backbone of renewable energy systems especially
                in our region where elecrticity supply is unstable and unreliable. We have extensive experience working with energy storage
                managing renewable energy systems. We provide expert advise on storage systems use for residential and commercial projects.
                The best resource available are deployed to get the best possible solution that suite our individual customers needs and
                budget. This ensures they run on solar energy system and not depend on it whenever it is needed and no direct sunlight will
                reach your system. Our expertise in energy storage solutions ensures you get trusted and reliable storage solution for your
                solar energy system. With our storage solutions your battery runs for the number of hours / days it was designed for, giving
                you the full advantage and benefit of your system. There is a massive market for solar energy storage and it will grow in
                popularity especially for electricity demand, hence our team is committed and driven to deliver a reliable, secure product
                for our customers.
                <strong>Our aim is always for our customer's financial satisfaction, while ensuring we can achieve thier long-term energy goals.</strong>
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row base">
        <div class="order-list col-lg-5  col-md-6 col-xs-12">
            <h4>Our energy storage solutions includes:</h4>
            <ol>
                <li>Storage Analysis</li>
                <li>Battery Replacement</li>
                <li>Battery Equalization</li>
                <li>Storage Troubleshooting</li>
                <li>Installation of super capacitors</li>
            </ol>
        </div>
        <div class="order-list col-lg-5 col-md-6 col-xs-12">
            <img src="{% static 'images/storage.jpg' %}" />
        </div>
    </div>
</div>
<section id="call-to-action">
    <div class="container-fluid padding wow fadeIn">
        <div class="row">
                <p class="col-lg-9 col-md-8 col-xs-12 cta-text">Want to start a custom fit Project for your home/business? &nbsp Talk to an Authorized Solar Professional.</p>
                <h3 class="col-lg-3 col-md-4 col-xs-12">
                <a href="{% url 'contact_us' %}">Get in Touch
                    <i class="fas fa-arrow-right"></i>
                </a>
                </h3>
        </div>
    </div>
</section>
{% endblock %}