{% extends 'base_layout.html' %}
{% load static %}
{% block title %}{{ block.super }} Faq{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>FREQUENTLY ASKED QUESTIONS</h1>
            <h2>Useful information and knwoledge base</h2>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Pages</a>
        </li>
        <li class="breadcrumb-item active">FAQ</li>
    </ol>
</nav>
<div id="accordion" class="container padding">
    <div class="FAQS row padding">
        <div class="col-12">
            <h3 class="display-9">Solar Energy</h3>
            <div class="card">
                <div class="card-header" id="headingTen">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                            What is solar power and how is it used?
                        </button>
                    </h5>
                </div>
                <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordion">
                    <div class="card-body">
                        Solar power is the conversion of sunlight into electricity, either directly using Photovoltaics (PV) or indireclty using
                        concentrated soalr power. it may serve as an additional source of energy.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How do solar systems Work?
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Solar system through solar panels cells absorbing solar radiation from from the sun and converting to DC current which is
                        then transformed into AC current by the inverter and fed to Distribution Fuse Board where it is utilized
                        by various electrical loads.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEleven">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                            Is my roof suitable for solar panels?
                        </button>
                    </h5>
                </div>
                <div id="collapseEleven" class="collapse show" aria-labelledby="headingEleven" data-parent="#accordion">
                    <div class="card-body">
                        Roofs facing the north or south with little or no shading and space for solar panels are ideal for installing solar. However
                        in many cases there are workarounds if your home dosent have the ideal solar roof.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingNine">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                            Will solar panels look good on my roof?
                        </button>
                    </h5>
                </div>
                <div id="collapseNine" class="collapse show" aria-labelledby="headingNine" data-parent="#accordion">
                    <div class="card-body">
                        Absolutely! Our set of contemporary designs, aluminium profile and front trim will integrate perfectly to your home or office
                        building's exterior, adding a stylish touch to it.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How long do solar panels Last?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        On the average most solar panels last for about 20 to 25years as depending on the manufacturers but with proper installation
                        and maintenance less harsh weather, It should give addition 5 to 10years in a good working condition.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Do solar systems save energy cost?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Yes solar system saves u energy cost as it does not require any fueling and mechanical part to work. All that is required
                        for a solar system to work is radiation from the sun and your panels start to generate electricity
                        for use.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Is solar energy reliable enough for home and business?
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        Yes, solar panels continue to generate electricity all day long until its night when it stops generating. The sun is consant
                        as it rises and sets routinely which os more practicable and reliable than power plants which often
                        experience power outages several time a year.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Can I use my solar system with conventional grid system?
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        Yes you can as it replaces your conventional gasoline generators which consumes money for every use and operation it is utilized.
                        You can also use the conventional grid system to charge up your battery banks during days of no sunlight.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwelve">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
                            Can i afford to go solar?
                        </button>
                    </h5>
                </div>

                <div id="collapseTwelve" class="collapse show" aria-labelledby="headingTwelve" data-parent="#accordion">
                    <div class="card-body">
                        YES! If you can pay your electricity bills, you can afford to go solar to start saving on energy consumption.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            How do i choose a solar installer?
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        Confirm they are certified and licensed, have relevant experience and can provide references. meet your solar installer in
                        person befre agreeing to work with them.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Is solar a smart investment?
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                    <div class="card-body">
                        Yes! Grid-tied soalr systems pay for themselves by reducing your monthly electric bill. solar systems have a 5-10 year payback
                        period or less for a small system depending on factors like climate, installation approach and orientation.
                        considering the panels have 25-35 year warranty, there's plenty time to left to profit on your investment.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Is solar energy produced only on bright sunny days?
                        </button>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                    <div class="card-body">
                        No. The best weather for producing solar power is surely on a sunny day. this does not not mean that solar power cannot be
                        generated when it's not a sunny day. Solar power is produced even when the weather is cloudy, rainy
                        and cool. Although on such days energy yield is low at about 25-30%.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}