{% extends 'base_layout.html' %}
{% load static %}
{% block title %}Frequently Asked Questions {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <p>Frequently Asked Questions</p>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">FAQ</li>
    </ol>
</nav>
<div id="accordion" class="container padding">
    <div class="FAQS row padding">
        <div class="col-12">
            <h3>Solar Energy</h3>
            <div class="card">
                <div class="card-header" id="headingTen">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                            Can I afford to go Solar?
                        </button>
                    </h5>
                </div>
                <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordion">
                    <div class="card-body">
                       Yes! If you can afford to pay your electricity bill, you can afford  to go solar
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Is my roof suitable for solar panels?
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                         South facing roofs with little or no shading and enough space to fit a solar panel system are ideal for installing solar.
                        However, in many cases there are workrounds if your home dosen't have the ideal roof.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEleven">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                            What size of solar energy system should i get?
                        </button>
                    </h5>
                </div>
                <div id="collapseEleven" class="collapse show" aria-labelledby="headingEleven" data-parent="#accordion">
                    <div class="card-body">
                         The size of your solar energy system will depend on hw much electricity you use on a monthly basis, as well as the weather
                        conditionsn where you live.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingNine">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                            How do i choose a solar installer?
                        </button>
                    </h5>
                </div>
                <div id="collapseNine" class="collapse show" aria-labelledby="headingNine" data-parent="#accordion">
                    <div class="card-body">
                        There are a few criteria that everyone should use when choosing a solar installler. Confirm that they are certified, licensed and have relevant experience and can provide references.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How much will solar panel maintenance cost?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                       Solar panel systems are made of durable tempered glass and require little to no maintenance for 25 to 35 years that they will generate power.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Can i go off grid with solar panels?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                         When you install solar panels on your property, you will still be connected to the grid. This allows you t draw from the
                        grid when your system is not producing all of the power that you need. It is possible to go off grid.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Do my solar panels produce power when the sun isn't shinning?
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                         The amount of power your solar energy system can generate is dependent on sunlight. As a result, your solar panels will
                        produce slightly less energy when the weather is cloudy, and no energy at night. However, because of high electricity cost,
                        solar is a smart decision evem if you live in a cloudy city.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Can I use my solar system with conventional grid system?
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        Yes you can as it replaces your conventional gasoline generators which consumes money for every use and operation it is utilized.
                        You can also use the conventional grid system to charge up your battery banks during days of no sunlight.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwelve">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
                            How long will my solar power system last?
                        </button>
                    </h5>
                </div>

                <div id="collapseTwelve" class="collapse show" aria-labelledby="headingTwelve" data-parent="#accordion">
                    <div class="card-body">
                     In general, solar panels are very durable and capable of withstanding harsh weather. the various component of your solar
                    power systems will need to be replaced at different times, but your system should continue to generate electricity for 25
                    to 35 years.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            How do solar photovoltaic panels work?
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                     It absorbs the energy of the sun throughout the day and convert it into diect current (DC) electricity. Most home and businesses
                    run on alternating current (AC) electricity, so the DC electricity is then passed through an inverter to convert it to usable
                    AC electricity.               
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Is solar a smart investment?
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                    <div class="card-body">
                        Yes! Grid-tied soalr systems pay for themselves by reducing your monthly electric bill. solar systems have a 5-10 year payback
                        period or less for a small system depending on factors like climate, installation approach and orientation.
                        considering the panels have 25-35 year warranty, there's plenty time to left to profit on your investment.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            What are the financial benefits of solar energy?
                        </button>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                    <div class="card-body">
                     When you install a solar energy system on your property, you save money on your electricity bills and protect yourself against
                    rising electricity rates in the future. Going solar is a smart investment regardless of where you live.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}