{% extends 'base_layout.html' %}
{% block nav-service %}
menu-active
{% endblock %}
{% load static %}
{% block title %}{{ block.super }} Upgrade your existing solar systems{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>SOLAR SYSTEM UPGRADE</h1>
            <h2>Generate more solar power</h2>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="breadcrumb-item active">System Upgrade</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="light row padding">
        <ul class="list-group col-lg-4">
            <li class="list-group-item"><a href="{% url 'services' %}"><i class="fas fa-caret-right"></i> All Services</a></li>
            <li class="list-group-item"><a href="{% url 'solar_design' %}"><i class="fas fa-caret-right"></i> Residential Solar</a></li>
            <li class="list-group-item"><a href="{% url 'commercial_solar' %}"><i class="fas fa-caret-right"></i> Commercial Solar</a></li>
            <li class="list-group-item"><a href="{% url 'off_grid_solar' %}"><i class="fas fa-caret-right"></i> Off-Grid Solar</a></li>
            <li class="list-group-item"><a href="{% url 'electrical_design' %}"><i class="fas fa-caret-right"></i> Solar Lighting</a></li>
            <li class="list-group-item"><a href="{% url 'solar_water_pump' %}"><i class="fas fa-caret-right"></i> Solar Water Pump</a></li>
            <li class="list-group-item"><a href="{% url 'energy_management' %}"><i class="fas fa-caret-right"></i> Energy Storage Solution</a></li>
            <li class="list-group-item"><a href="{% url 'project_management' %}"><i class="fas fa-caret-right"></i> Energy Management</a></li>
            <li class="list-group-item list-group-item-success"><a href="{% url 'hvac' %}"><i class="fas fa-caret-right"></i> System Upgrade</a></li>
            <li class="list-group-item"><a href="{% url 'maintenance_service' %}"><i class="fas fa-caret-right"></i> Maintenance</a></li>
        </ul>
        <div class="col-lg-8">
            <img src="{% static 'images/inverter.jpg' %}" alt="inverter" />
        </div>
    </div>
</div>
<div class="container padding">
    <div class="row details">
        <div>
            <p>
                We offer full solar system upgrade of any capacity, including upgrade of component parts to boost output performance. we
                will upgrade your system to a solar station to effectively supply electrical self sufficiency to it users
                and also provide you with great services on all aspects of your system upgrade.
            </p>
        </div>
        <!-- <div class="sub-section row">
                <div class="body col-xs-12 col-md-6 col-lg-4">
                    <div>
                        <i class="fas fa-walking"></i>
                    </div>
                    <h4>ENERGY AUDIT</h4>
                    <p class="sub">Identifies deficient equipment issues, areas needing further evaluation, energy saving opportunities and
                        saving potentials</p>
                </div>
                <div class="body col-xs-12 col-md-6 col-lg-4">
                    <div>
                        <i class="fas fa-chart-area"></i>
                    </div>
                    <h4>LOAD ANALYSIS</h4>
                    <p class="sub">Audit is carried out using economic calculations using some devices like meters to identify your actual energy
                        consumption and losses.</p>
                </div>
                <div class="body col-xs-12 col-md-6 col-lg-4">
                    <div>
                        <i class="fas fa-chart-pie"></i>
                    </div>
                    <h4>ENERGY SAVINGS</h4>
                    <p class="sub">Identifies detailed account of energy use, qualitative study, detailed investments, operations and maintenance
                        cost and analysis of investment.</p>
                </div>
            </div> -->
    </div>
</div>
<div class="container padding">
    <div class="row base">
        <div class="order-list col-lg-5 col-md-6 col-xs-12">
            <h4>Our system upgrade includes:</h4>
            <ol>
                <li>Module Upgrade</li>
                <li>Controller Upgrade</li>
                <li>Inverter Upgrade</li>
                <li>Battery Upgrade</li>
                <li>Full system Upgrade</li>
            </ol>
        </div>
        <div class="order-list col-lg-5 col-md-6 col-xs-12">
            <img src="{% static 'images/system-upgrade.jpeg' %}" alt="solar system components" />
        </div>
    </div>
</div>
<section id="call-to-action">
    <div class="container-fluid padding wow fadeIn">
        <div class="row">
                <p class="col-lg-9 col-md-8 col-xs-12 cta-text">Want to start a custom fit Project for your home/business? &nbsp Talk to an Authorized Solar Professional.</p>
                <h3 class="col-lg-3 col-md-4 col-xs-12">
                <a href="{% url 'contact_us' %}">get in touch
                    <i class="fas fa-arrow-right"></i>
                </a>
                </h3>
        </div>
    </div>
</section>
{% endblock %}