{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %}
{% block title %}Electrical Installation Services {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>Electrical Installation</h1>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="breadcrumb-item active">Electrical Installation</li>
    </ol>
</nav>
<div class="container padding">
    <div class="service-list row padding">
        <div class="col">
            <img src="{% static 'images/ceiling-lamp.webp' %}" alt="inverter" />
            <p>
                You need people you can rely on when it comes to electrical installations. We have extensive experience at Greensource Energy
                and are ready to work with you on your next project to offer a reliable, professional electrical installation.
                We offer a wide range of electrical installation services, and our engineers adhere to the highest industry
                standards. we are skilled in working at design level, through to commissioning, with the requirements of
                installing new as well as upgrading existing light for Residential / Commercial buildings. We also give preventive
                maintenance services to our customers on a regular basis. Within a property, our engineers do a series of
                checks and testing, offering recommendations and eliminating any unnecessary downtime.
            </p>
            <h4>Our Electrical service includes:</h4>
            <ul>
                <li>Security lighting</li>
                <li>Complete light fitting</li>
                <li>Wiring and re-wiring service</li>
                <li>LV / MV design and installation</li>
                <li>Lighting and socket point addition</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}