{% extends 'base_layout.html' %} 
{% block nav-home %} active {% endblock %} 
{% load static %} 
{% block title %}Solar Energy for Homes and Businesses {{ block.super }}{% endblock %} 
{% block content %}
<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="carouselExampleFade" data-slide-to="0" class="active"></li>
            <li data-target="carouselExampleFade" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/homepage1.webp' %}" alt="off-grid solar panels" />
                <div class="carousel-caption">
                    <h1 class="animated zoomIn">Harness the
                        <span>sun</span> to work for you</h1>
                    <p class="animated fadeInUp">Want to reduce your utility bills for home and business? We will design a reliable system for you!</p>
                    <div class="button animated fadeInDown">
                        <a class="btn" href="{% url 'contact_us' %}" role="button">Go Solar Today!
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/homepage2.webp' %}" alt="array of ground mounted solar panels" />
                <div class="carousel-caption">
                    <h2 class="animated zoomIn">Power Your Future with
                        <span>Solar </span> Energy Solutions</h2>
                    <p class="animated fadeInUp">Want to reduce your utility bills for home and business? We will design a reliable system for you!</p>
                    <div class="button animated fadeInDown">
                        <a class="btn" href="{% url 'contact_us' %}" role="button">Go Solar Today!
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container padding">
        <div class="row facts padding">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 bubbled-text-block wow fadeIn" data-wow-duration="400">
                <div class="inner-box">
                    <span data-toggle="counter-up">100</span>
                    <span class="sign">+</span>
                    <p>Panels Installed</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 bubbled-text-block wow fadeIn" data-wow-duration="400">
                <div class="inner-box">
                    <span data-toggle="counter-up">80</span>
                    <span class="sign">+</span>
                    <p>Kilowatts Generated</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 bubbled-text-block wow fadeIn" data-wow-duration="400">
                <div class="inner-box">
                    <span data-toggle="counter-up">102</span>
                    <span class="sign">+</span>
                    <p>Tons of Co2 Reduced</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 bubbled-text-block wow fadeIn" data-wow-duration="400">
                <div class="inner-box">
                    <span data-toggle="counter-up">20</span>
                    <span class="sign">+</span>
                    <p>Projects Completed</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container padding">
        <div class="home-page padding">
            <p>
                 Tired of the constant electricity crisisand the hefty bills that come with it? Look no further, because Greensource Energy
                is here to brighten up your world! We understand the fustration and inconvenience that power outages and skyrocketing electricity
                costs can bring, we are here to provide you with an efficient and sustainable solution - solar power.
                <br/>
                <br/>At Greensource Energy, we believe in harnessing the power of the sun to transform your energy consumption experience. By
                making the switch to solar energy, you not only contribute to a greener environment but also gain control over your energy
                production and costs. It's a win-win situation for you and your immediate environment.
            </p>
        </div>
    </div>
</section>
<section>     
    <div class="container-fluid padding">
        <div class="row works padding">
            <div class="client-portfolio col-lg-3 col-md-6 col-xs-12">
                <div class="diamond-image">
                    <div class="pic">
                        <amp-img src="{% static 'images/independent-power.jpeg' %}" alt="residential building" width="250px"
                        height="210px"></amp-img>
                    </div>
                </div>
                <h3>Independent Power</h3>
                <hr />
                <p>With solar panels installed on your rooftop or property, you tab into a relaiable and independent power source that operates silently and without any harmful emissions</p>
            </div>
            <div class="client-portfolio col-lg-3 col-md-6 col-xs-12">
                <div class="diamond-image">
                    <div class="pic">
                        <amp-img src="{% static 'images/low-maintenance.jpeg' %}" alt="commercial building" width="250px"
                        height="210px"></amp-img>
                    </div>
                </div>
                <h3>Low Maintenance</h3>
                <hr />
                <p>Solar panels require minimal maintenance and have a long lifespan. Regular cleaning and inspections are sufficent to keep them operating sufficiently with 20-25years warranty.</p>
            </div>
            <div class="client-portfolio col-lg-3 col-md-6 col-xs-12">
                <div class="diamond-image">
                    <div class="pic">
                        <amp-img src="{% static 'images/eco-friendly.jpeg' %}" alt="Farm image" width="250px"
                        height="210px"></amp-img>
                    </div>
                </div>
                <h3>Eco Friendly</h3>
                <hr />
                <p>Solar energy is renewable, sustainable and produces zero greenhouse gas emissions. By choose solar energy, you contribute to a cleaner and greener future.</p>
            </div>
            <div class="client-portfolio col-lg-3 col-md-6 col-xs-12">
                <div class="diamond-image">
                    <div class="pic">
                        <amp-img src="{% static 'images/cost-saving.jpeg' %}" alt="School building" width="250px"
                        height="210px"></amp-img>
                    </div>
                </div>
                <h3>Significant Savings</h3>
                <hr />
                <p>Rising electricity/utility bills can put strain on your budget. By going solar, you can significantly reduce or even eliminate your monthly electricity expenses.</p>
            </div>
        </div>
</section>
<section>
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="solar-home-system col-lg-6 col-md-6 col-xs-12">
                <p>Having a Solar Energy System is Good, but Choosing a Solar Installer is Hard!</p>
                <a href="{% url 'about' %}">Read More!</a>
            </div>
            <div class="faq col-lg-6 col-md-6 col-xs-12">
                <div class="service-three col-12">
                    <p class="head">
                        <i class="fas fa-long-arrow-alt-right"></i>Frequently Asked Questions</p>
                    <p>Knowledge base</p>
                </div>
                <div id="accordion" class="container padding">
                    <div class="FAQS row padding">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header" id="headingTen">
                                    <p class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                            Can I afford to go Solar?
                                        </button>
                                    </p>
                                </div>
                                <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordion">
                                    <div class="card-body">
                                        Yes! If you can afford to pay your electricity bill, you can afford to go solar
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <p class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Is my roof suitable for solar panels?
                                        </button>
                                    </p>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        South facing roofs with little or no shading and enough space to fit a solar panel system are ideal for installing solar.
                                        However, in many cases there are workrounds if your home dosen't have the ideal roof.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingEleven">
                                    <p class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                                            What size of solar energy system should i get?
                                        </button>
                                    </p>
                                </div>
                                <div id="collapseEleven" class="collapse show" aria-labelledby="headingEleven" data-parent="#accordion">
                                    <div class="card-body">
                                        The size of your solar energy system will depend on hw much electricity you use on a monthly basis, as well as the weather
                                        conditionsn where you live.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingNine">
                                    <p class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                                            How do i choose a solar installer?
                                        </button>
                                    </p>
                                </div>
                                <div id="collapseNine" class="collapse show" aria-labelledby="headingNine" data-parent="#accordion">
                                    <div class="card-body">
                                        There are a few criteria that everyone should use when choosing a solar installler. Confirm that they are certified, licensed
                                        and have relevant experience and can provide references.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'faq' %}">View all</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="video-block-style-one text-center">
    <div class="container">
        <a href="https://youtube.com/shorts/DwkZ1JrpcxM" class="video-popup" aria-label="play icon button">
            <i class="fa fa-play"></i>
        </a>
        <p>Empowering Tomorrow with
            <br>Solar Energy Today</p>
    </div>
</section>
<section>
    <div class="container padding">
        <div class="service col-12">
            <p class="head">Testimonials</p>
            <hr />
            <p>What our clients are saying</p>
        </div>
        <div class="container padding">
            <div class="testimony row">
                <div class="col-lg-6 d-flex">
                    <div class="title-block my-auto">
                        <div class="sec-title">
                            <p>You are in Very Good
                                <br /> Hands, Check What
                                <br /> our Customers are
                                <br /> Talking About
                            </p>
                            <a href="{% url 'testimonial' %}">view all testimonial</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonials-style-three-carousel-wrapper">
                        <div class="owl-theme owl-carousel testimonials-style-three-carousel" id="testimonial" aria-label="testimonial buttons">
                            {% for testimonial in template.testimonial %}
                            <div class="single-testimonial-style-three">
                                <i class="fas fa-quote-right"></i>
                                <p>{{ testimonial.body|linebreaks }}</p>
                                <div class="client-block">
                                    <div class="image-block">
                                        <amp-img src="{{ testimonial.image.url }}" alt="Awesome Image" width="100" height="100" layout="responsive"></amp-img>
                                    </div>
                                    <div class="text-block">
                                        <h6>{{ testimonial.title }}</h6>
                                        <span>{{ testimonial.name }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid padding">
        <div class="service col-12">
            <p class="head">Our Services</p>
            <hr />
            <p>Our range of solar installation</p>
        </div>
    </div>
    <div class="container padding">
        <div class="owl-carousel owl-theme service-style-one" id="services" aria-label="services rendered">
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-solar-panel"></i>
                        </div>
                        <h3>
                            <a href="{% url 'solar_design' %}">Design/Installation</a>
                        </h3>
                        <p>We offer comprehensive solar design and installation services to help you harness the power ...</p>
                        <a href="{% url 'solar_design' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="far fa-lightbulb"></i>
                        </div>
                        <h3>
                            <a href="{% url 'electrical_design' %}">Solar Lighting</a>
                        </h3>
                        <p>We specialize in providing solar street light services, offering sustainable lighting solutions ...</p>
                        <a href="{% url 'electrical_design' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-car-battery"></i>
                        </div>
                        <h3>
                            <a href="{% url 'energy_management' %}">Off-grid/Backup</a>
                        </h3>
                        <p>We offer comprehensive off-grid and power backup services to ensure reliable and ...</p>
                        <a href="{% url 'energy_management' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-tasks"></i>
                        </div>
                        <h3>
                            <a href="{% url 'project_management' %}">Project Planning</a>
                        </h3>
                        <p>We offer comprehensive project planning and management services to ensure the successful...</p>
                        <a href="{% url 'project_management' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-bolt"></i>
                        </div>
                        <h3>
                            <a href="{% url 'hvac' %}">Upgrades/Expansion</a>
                        </h3>
                        <p>We offer solar upgrades and expansion services to help you optimize and expand your existing...</p>
                        <a href="{% url 'hvac' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-tools"></i>
                        </div>
                        <h3>
                            <a href="{% url 'maintenance_service' %}">Maintenance</a>
                        </h3>
                        <p>We are committed to providing reliable and professional solar maintenance services...</p>
                        <a href="{% url 'maintenance_service' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid padding">
        <div class="hp-project row padding">
            <div class="service-two col-12">
                <p class="head">
                <i class="fas fa-long-arrow-alt-right"></i>Featured Projects</p>
                <p>Some of our site installations</p>
            </div>
            <div class="featured-project col-12">
                {% for solar in template.solar %}
                <a href="{{ solar.image.url }}" aria-label="featured project images">
                    <amp-img src="{{ solar.image.url }}" alt="awesome image"  width="300" height="300"></amp-img>
                </a>
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid padding">
        <div class="service col-12">
            <p class="head">Our Blog</p>
            <hr />
            <p>Stay up to date with the latest news</p>
        </div>
        <div class="articles row padding">
            {% for post in posts %}
            <div class="news col-xs-12 col-md-4 col-lg-3">
                <amp-img src="{{ post.thumb.url }}" class="card-img-top" alt="awesome image" width="300" height="220" ></amp-img>
                <p>| &nbsp; {{ post.date|date:"F d" }} &nbsp;.</p>
                <div class="card-body">
                    <a href="{{ post.get_absolute_url }}">
                        <h5>{{ post.title }}</h5>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}