{% extends 'base_layout.html' %} {% block nav-home %} active {% endblock %} {% load static %} {% block title %}Solar Energy
for Homes and Businesses {{ block.super }}{% endblock %} {% block content %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="carouselExampleFade" data-slide-to="0" class="active"></li>
        <li data-target="carouselExampleFade" data-slide-to="1"></li>
        <li data-target="carouselExampleFade" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/aa.jpg' %}" alt="off-grid solar panels">
            <div class="carousel-caption">
                <h1 class="animated zoomIn">MAKE THE
                    <span>SUN</span> WORK FOR YOU</h1>
                <h3 class="animated fadeInUp">Driving the Transition to Sustainable Energy Solutions</h3>
                <div class="button animated fadeInDown">
                    <a class="btn active" href="{% url 'services' %}" role="button">Our Services</a>
                    <a class="btn" href="{% url 'about' %}" role="button">More About Us!</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/aaa.jpg' %}" alt="array of ground mounted solar panels ">
            <div class="carousel-caption">
                <h2 class="animated zoomIn">CLEAN.
                    <span>SAFE.</span> RENEWABLE.</h2>
                <h3 class="animated fadeInUp">We're committed to Building a Better Energy Future for all</h3>
                <div class="button animated fadeInDown">
                    <a class="btn active" href="{% url 'services' %}" role="button">Our Services</a>
                    <a class="btn" href="{% url 'about' %}" role="button">More About Us!</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/a.jpg' %}" alt="office space powered by a solar system">
            <div class="carousel-caption">
                <h2 class="animated zoomIn">
                    <span>GREEN</span> ENERGY FOR EVERYONE</h2>
                <h3 class="animated fadeInUp">We want to see Everyone Benefit from the use solar energy.</h3>
                <div class="button animated fadeInDown">
                    <a class="btn active" href="{% url 'services' %}" role="button">Our Services</a>
                    <a class="btn" href="{% url 'about' %}" role="button">More About Us!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row colum padding">
        <div class="colum-body col-xs-12 col-md-6 col-lg-3">
            <div>
                <img src="{% static 'images/solar-panel.png' %}" alt="img" />
            </div>
            <span data-toggle="counter-up">100</span>
            <span class="sign">+</span>
            <h6>Modules Installed</h6>
        </div>
        <div class="colum-body col-xs-12 col-md-6 col-lg-3">
            <div>
                <img src="{% static 'images/project.png' %}" alt="img" />
            </div>
            <span data-toggle="counter-up">35</span>
            <span class="sign">+</span>
            <h6>Projects Completed</h6>
        </div>
        <div class="colum-body col-xs-12 col-md-6 col-lg-3">
            <div>
                <img src="{% static 'images/solar (3).png' %}" alt="img" />
            </div>
            <span data-toggle="counter-up">50</span>
            <span class="sign">+</span>
            <h6>KiloWatt Generated</h6>
        </div>
        <div class="colum-body col-xs-12 col-md-6 col-lg-3">
            <div>
                <img src="{% static 'images/customer (1).png' %}" alt="img" />
            </div>
            <span data-toggle="counter-up">28</span>
            <span class="sign">+</span>
            <h6>Client's Database</h6>
        </div>
    </div>
</div>
<section>
    <div class="container-fluid padding">
        <div class="service-two col-12">
            <h5>
                <i class="fas fa-long-arrow-alt-right"></i>Why Choose</h5>
            <p>Solar Home Systems</p>
        </div>
    </div>
    <div class="container padding">
        <div class="row bg padding">
            <div class="choose col-lg-6 col-md-12 col-xs-12">
                <div class="why-choose">
                    <p>
                        Whether you are a home owner, business or nonprofits, electricity costs can make up a large portion of your monthly expenses.
                        Solar will reduce your utility bills, saving you alot of money. With the rising cost of electicity
                        due to increase in tariff and fuel cost, harnessing the power of the sun is now more needed than
                        ever.
                        <br/>
                        <strong>Solar Modules:</strong> Produce electicity even on cloudy days, usually around 20% - 30%.
                        <br/>
                        <strong>Low Maintenance:</strong> This is because there are no moving parts (mechanical) in the solar system.
                    </p>
                </div>
            </div>
            <div class="people-one col-lg-6 col-md-6 col-xs-12">
                <div class="choose1">
                    <img src="{% static 'images/bio-energy.png' %}" alt="img" />
                    <h6>Green</h6>
                </div>
                <div class="choose2">
                    <img src="{% static 'images/planet-earth.png' %}" alt="img" />
                    <h6>Sustainable</h6>
                </div>
                <div class="choose3">
                    <img src="{% static 'images/profits.png' %}" alt="img" />
                    <h6>Money Saving!</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid-bg padding">
        <div class="service-two col-12">
            <h5>
                <i class="fas fa-long-arrow-alt-right"></i>OUR CORE</h5>
            <p>Focal Point of our Work</p>
        </div>
        <div class="row works owl-carousel owl-theme padding" id="core">
            <div class="item">
                <div class="sub-work">
                    <i class="fas fa-line-chart"></i>
                    <h4>Analysis</h4>
                    <p>we carry out load analysis to dertermine the best solar option that fits individual clients</p>
                </div>
            </div>
            <div class="item">
                <div class="sub-work">
                    <i class="fas fa-cogs"></i>
                    <h4>Engineering</h4>
                    <p>We believe standard engineering procedure ensure quality assurance during installations</p>
                </div>
            </div>
            <div class="item">
                <div class="sub-work">
                    <i class="fas fa-puzzle-piece"></i>
                    <h4>Operations</h4>
                    <p>Standard operations procedure are designed to ensure our solar systems performs optimally</p>
                </div>
            </div>
            <div class="item">
                <div class="sub-work">
                    <i class="fas fa-tools"></i>
                    <h4>Maintenance</h4>
                    <p>Planned Maintenance and retrofit makes the life span of any system last longer than expected</p>
                </div>
            </div>
        </div>
</section>
<section>
    <div class="container padding">
        <div class="service col-12">
            <h5>Our Services</h5>
            <hr />
            <p>Our Range of Solar Services</p>
        </div>
    </div>
    <div class="container padding">
        <div class="owl-carousel service-style-one" id="services">
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-home"></i>
                        </div>
                        <h3>
                            <a href="{% url 'solar_design' %}">Residential Solar</a>
                        </h3>
                        <p>Solar panels for home solar energy systems are designed, installed, and maintained by...</p>
                        <a href="{% url 'solar_design' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-industry"></i>
                        </div>
                        <h3>
                            <a href="{% url 'commercial_solar' %}">Commercial Solar</a>
                        </h3>
                        <p>We design, install, and operate solar panels for commercial applications ranging from ...</p>
                        <a href="{% url 'commercial_solar' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-hdd"></i>
                        </div>
                        <h3>
                            <a href="{% url 'off_grid_solar' %}">Inverter Installation</a>
                        </h3>
                        <p>We render inverter installation services for clients who like this option in a unique ...</p>
                        <a href="{% url 'off_grid_solar' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="far fa-lightbulb"></i>
                        </div>
                        <h3>
                            <a href="{% url 'electrical_design' %}">Solar Lighting</a>
                        </h3>
                        <p>We design and install solar lights for houses, offices, neighborhoods, and market ...</p>
                        <a href="{% url 'electrical_design' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-solar-panel"></i>
                        </div>
                        <h3>
                            <a href="{% url 'solar_water_pump' %}">Solar Pump</a>
                        </h3>
                        <p>Since it lowers the cost of burning fossil fuels and provides energy efficiency ...</p>
                        <a href="{% url 'solar_water_pump' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-car-battery"></i>
                        </div>
                        <h3>
                            <a href="{% url 'energy_management' %}">Solar Storage</a>
                        </h3>
                        <p>We build energy storage for solar energy systems, which is important for ensuring ...</p>
                        <a href="{% url 'energy_management' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-charging-station"></i>
                        </div>
                        <h3>
                            <a href="{% url 'project_management' %}">Energy Management</a>
                        </h3>
                        <p>Your home/business energy usage and GHG emissions can be minimized with the ...</p>
                        <a href="{% url 'project_management' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-bolt"></i>
                        </div>
                        <h3>
                            <a href="{% url 'hvac' %}">Electrical installation</a>
                        </h3>
                        <p>You need people you can rely on when it comes to electrical installations ...</p>
                        <a href="{% url 'hvac' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-service-style-three">
                    <div class="text-block">
                        <div class="block">
                            <i class="fas fa-tools"></i>
                        </div>
                        <h3>
                            <a href="{% url 'maintenance_service' %}">Maintenance Retrofit</a>
                        </h3>
                        <p>We're committed to increasing the production of renewable energy and ensuring ...</p>
                        <a href="{% url 'maintenance_service' %}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid padding">
        <div class="service-two col-12">
            <h5>
                <i class="fas fa-long-arrow-alt-right"></i>Our Pricing</h5>
            <p>Select a design that suits your needs</p>
        </div>
        <div class="pricing row  col-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>Our designs and prices are best suited to give our customers great value </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a href="{% url 'pricing' %}">View All</a>
            </div>
        </div>
    </div>
    <div class="container-fluid padding">
        <div class="pricing-table">
            <div class="row owl-carousel owl-theme" id="pricing">
                <div class="item">
                    <div class="table">
                        <h6>gs 0.32kwp</h6>
                        <div class="prices">
                            N290, 000
                            <span>
                                <strong>2* 180w</strong> Mono Panels
                                <br />
                                <strong>1* 30amp</strong> Controller
                                <br />
                                <strong>1* 150ah</strong> GEL Battery
                                <br />
                                <strong>1* 1kw</strong> Inverter
                            </span>
                        </div>
                        <ul>
                            <p>load capacity</p>
                            <li>
                                All lighting (LED recommended)</li>
                            <li>
                                24 inch LED Tv</li>
                            <li>
                                A ceiling/Standing Fan</li>
                            <li>
                                A satelite decoder</li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="table">
                        <h6>gs 0.54kwp</h6>
                        <div class="prices">
                            N375, 000
                            <span>
                                <strong>3* 180w </strong> Mono Panels
                                <br />
                                <strong>1* 40amp</strong> Controller
                                <br />
                                <strong>1* 200ah</strong> GEL Battery
                                <br />
                                <strong>1* 1.5kw</strong> Inverter
                            </span>
                        </div>
                        <ul>
                            <p>load capacity</p>
                            <li>
                                All lighting (LED recommended)</li>
                            <li>
                                32 inch LED Tv</li>
                            <li>
                                A ceiling/Standing Fan</li>
                            <li>
                                A home theatre/Decoder</li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="table">
                        <h6>gs 0.72kwp</h6>
                        <div class="prices">
                            N485, 000
                            <span>
                                <strong>4* 180w </strong> Mono Panels
                                <br />
                                <strong>1* 50amp</strong> Controller
                                <br />
                                <strong>1* 200ah</strong> GEL Battery
                                <br />
                                <strong>1* 2kw</strong> Inverter
                            </span>
                        </div>
                        <ul>
                            <p>load capacity</p>
                            <li>
                                All lighting (LED recommended)</li>
                            <li>
                                42 inch LED Tv</li>
                            <li>
                                2 ceiling/standing Fan</li>
                            <li>
                                A Home theatre/Decoder</li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="table">
                        <h6>gs 1.08kwp</h6>
                        <div class="prices">
                            N630, 000
                            <span>
                                <strong>6* 180w </strong> Mono Panels
                                <br />
                                <strong>1* 50amp</strong> Controller
                                <br />
                                <strong>2* 150ah</strong> GEL Battery
                                <br />
                                <strong>1* 2kw</strong> Inverter
                            </span>
                        </div>
                        <ul>
                            <p>load capacity</p>
                            <li>
                                All lighting (LED recommended)</li>
                            <li>
                                43 inch LED Tv</li>
                            <li>
                                2 ceiling/standing Fan</li>
                            <li>
                                A home theatre/satelite decoder</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container padding">
        <div class="service col-12">
            <h5>Testimonials</h5>
            <hr />
            <p>What our clients are saying</p>
        </div>
        <div class="container padding">
            <div class="row testimony">
                <div class="col-lg-6 d-flex">
                    <div class="title-block my-auto">
                        <div class="sec-title">
                            <p>You are in Very Good
                                <br /> Hands, Check What
                                <br /> our Customers are
                                <br /> Talking About
                            </p>
                            <a href="{% url 'testimonial' %}">view all testimonial</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonials-style-three-carousel-wrapper">
                        <div class="testimonials-style-three-carousel owl-theme owl-carousel" id="testimonial">
                            {% if index %} {% for testimonial in index %}
                            <div class="single-testimonial-style-three">
                                <i class="fas fa-quote-right"></i>
                                <p>{{ testimonial.body }}</p>
                                <div class="client-block">
                                    <div class="image-block">
                                        <img src="{{ testimonial.image.url }}" alt="Awesome Image" />
                                    </div>
                                    <div class="text-block">
                                        <h6>{{ testimonial.name }}</h6>
                                        <span>{{ testimonial.title }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} {% else %}
                            <p>There are no recent testimonial</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="service col-12">
            <h5>Our Blog</h5>
            <hr />
            <p>Stay up to date with the latest news</p>
        </div>
    </div>
    <div class="articles row padding">
        {% for post in posts %}
        <div class="news col-xs-12 col-md-4 col-lg-3">
            <img src="{{ post.thumb.url }}" class="card-img-top" alt="awesome image">
            <p>| &nbsp; {{ post.date|date:"F d" }} &nbsp;.</p>
            <div class="card-body">
                <a href="{{ post.get_absolute_url }}">
                    <h5>{{ post.title }}</h5>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="brand-carousel-wrapper">
    <div class="container padding">
        <div class="brand-carousel-one owl-theme owl-carousel">
            <div class="item">
                <img src="{% static 'images/brand-1-1.png' %}" alt="img" />
            </div>
            <div class="item">
                <img src="{% static 'images/brand-1-2.png' %}" alt="img" />
            </div>
            <div class="item">
                <img src="{% static 'images/brand-1-3.png' %}" alt="img" />
            </div>
            <div class="item">
                <img src="{% static 'images/brand-1-4.png' %}" alt="img" />
            </div>
            <div class="item">
                <img src="{% static 'images/brand-1-5.png' %}" alt="img" />
            </div>
        </div>
    </div>
</div>
{% endblock %}