{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %}
{% block title %}Upgrade And Maintain Your Existing Solar System {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <p>Upgrade / Maintenance</p>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="breadcrumb-item active">Upgrade-Maintenance</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="light row padding">
        <ul class="list-group col-lg-4">
            <li class="list-group-item"><a href="{% url 'services' %}"><i class="fas fa-caret-right"></i> All Services</a></li>
            <li class="list-group-item"><a href="{% url 'solar_design' %}"><i class="fas fa-caret-right"></i> Residential Solar</a></li>
            <li class="list-group-item"><a href="{% url 'commercial_solar' %}"><i class="fas fa-caret-right"></i> Commercial Solar</a></li>
            <li class="list-group-item"><a href="{% url 'off_grid_solar' %}"><i class="fas fa-caret-right"></i> Inverter Installation</a></li>
            <li class="list-group-item"><a href="{% url 'electrical_design' %}"><i class="fas fa-caret-right"></i> Solar Lighting</a></li>
            <li class="list-group-item"><a href="{% url 'solar_water_pump' %}"><i class="fas fa-caret-right"></i> Solar Water Pump</a></li>
            <li class="list-group-item"><a href="{% url 'energy_management' %}"><i class="fas fa-caret-right"></i> Solar Storage</a></li>
            <li class="list-group-item"><a href="{% url 'project_management' %}"><i class="fas fa-caret-right"></i> Solar Energy Mgt</a></li>
            <li class="list-group-item"><a href="{% url 'hvac' %}"><i class="fas fa-caret-right"></i> Electrical Installation</a></li>
            <li class="list-group-item list-group-item-success"><a href="{% url 'maintenance_service' %}"><i class="fas fa-caret-right"></i> Upgrade / Maintenance</a></li>
        </ul>
        <div class="cut col-lg-8">
            <img src="{% static 'images/maintenance.webp' %}" />
        </div>
    </div>
</div>
<div class="container padding">
    <div class="row details">
        <div>
            <p>We're committed to increasing the production of renewable energy and ensuring its long-term viability, hence our solar energy
            system is designed to expand its energy capacity as load demand rises. We have a team of qualified solar energy technicians
            on hand to attend to any upgrade and or maintenance of solar systems. Maintenance is needed for dependable and long-term
            energy output, as well as to ensure your system's optimal efficiency. Preventive and corrective maintenance are two forms
            of maintenance that we plan for our customers. We advice that all installations be subject maintenance to ensure that they
            last as long as possible and that they are running at peak performance. Cleaning solar panels, removing spent/burnt wires,
            cleaning batteries and replacing battery fluid for tubular batteries, air pressure cleaning of electrical components, and
            ensuring all cables are firmly fastened to their terminals are only a few of the maintenance tasks we conduct.
            </p>
        </div>
    </div>
    <div class="system-main row padding">
        <div class="col-lg-5 col-sm-6 system">
            <h4>Upgrade</h4>
            <p>our scope of work includes</p>
            <ol>
                <li>Retrofitting</li>
                <li>Inverter Upgrade</li>
                <li>Electrical isolation</li>
                <li>Module wattage Addition</li>
                <li>Complete system Upgrade</li>
                <li>Storage Capacity increase</li>
                <li>Controller capacity increase</li>
            </ol>
        </div>
        <div class="col-lg-5 col-sm-6 system">
            <h4>Maintenance</h4>
            <p>our scope of work includes</p>
            <ol>
                <li>Module Cleaning</li>
                <li>Re-Installation</li>
                <li>Inverter servicing</li>
                <li>System Modification</li>
                <li>component Replacement</li>
                <li>Distribution board inspection</li>
                <li>Electrical system troubleshooting</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}