{% extends 'base_layout.html' %}
{% block nav-service %}
menu-active
{% endblock %}
{% load static %}
{% block title %}{{ block.super }} Retrofit | Maintenance of solar systems{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>RETROFIT - MAINTENANCE</h1>
            <h2></h2>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="breadcrumb-item active">Retrofit-Maintenance</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="light row padding">
        <ul class="list-group col-lg-4">
            <li class="list-group-item"><a href="{% url 'services' %}"><i class="fas fa-caret-right"></i> All Services</a></li>
            <li class="list-group-item"><a href="{% url 'solar_design' %}"><i class="fas fa-caret-right"></i> Residential Solar</a></li>
            <li class="list-group-item"><a href="{% url 'commercial_solar' %}"><i class="fas fa-caret-right"></i> Commercial Solar</a></li>
            <li class="list-group-item"><a href="{% url 'off_grid_solar' %}"><i class="fas fa-caret-right"></i> Off-Grid Solar</a></li>
            <li class="list-group-item"><a href="{% url 'electrical_design' %}"><i class="fas fa-caret-right"></i> Solar Lighting</a></li>
            <li class="list-group-item"><a href="{% url 'solar_water_pump' %}"><i class="fas fa-caret-right"></i> Solar Water Pump</a></li>
            <li class="list-group-item"><a href="{% url 'energy_management' %}"><i class="fas fa-caret-right"></i> Energy Storage Solution</a></li>
            <li class="list-group-item"><a href="{% url 'project_management' %}"><i class="fas fa-caret-right"></i> Energy Management</a></li>
            <li class="list-group-item"><a href="{% url 'hvac' %}"><i class="fas fa-caret-right"></i> System Upgrade</a></li>
            <li class="list-group-item list-group-item-success"><a href="{% url 'maintenance_service' %}"><i class="fas fa-caret-right"></i> Maintenance</a></li>
        </ul>
        <div class="cut col-lg-8">
            <img src="{% static 'images/maintenance.jpg' %}" />
        </div>
    </div>
</div>
<div class="container padding">
    <div class="row details">
        <div>
            <p>We carry out Maintenance services for all Solar services we offer (after sales support and services). We have a team of experienced
                solar energy specialist ready to assist with all maintenance needs. Carrying out maintenance operations is necessary
                for a reliable and sustainable energy production and ensure optimum performance of your system. We schedule different
                maintenance plan for our customer which includes: Preventive maintenance and corrective maintenance. Preventive maintenance
                is done for systems still in operations and do not intend to eperience a breakdown before it is fixed. Corrective maintenance
                is done when a system runs to failure before it is corrcted. Maintenance is necesary for all our installations to ensure
                longeivity of the system, ensure the systems are efficient and functioning optimally. Our maintenance activities includes
                cleaning of solar panels, replacing bad cables, cleaning batteries and replacing battery fluid for tubular batteries,
                air pressure cleaning of electrical components, ensuring all cable are well fasted to thier terminal.
            </p>
        </div>
    </div>
    <div class="system-main row padding">
        <div class="col-lg-5 col-sm-6 system">
            <h4>maintenance</h4>
            <p>our scope of work includes</p>
            <ol>
                <li>Module Cleaning</li>
                <li>Inverter servicing</li>
                <li>component Replacement</li>
                <li>Wear and tears Repairs</li>
                <li>Solar system maintenance</li>
                <li>Monitoring and Calibration</li>
            </ol>
        </div>
        <div class="col-lg-5 col-sm-6 system">
            <h4>Retrofitting</h4>
            <p>our scope of work includes</p>
            <ol>
                <li>Repair</li>
                <li>Upgrade</li>
                <li>Maintenance</li>
                <li>Consultation</li>
                <li>Modification</li>
                <li>Re-Installation</li>
                <li>Customer Support</li>
                <li>Electrical system troubleshooting</li>
            </ol>
        </div>
    </div>
</div>
<section id="call-to-action">
    <div class="container-fluid padding wow fadeIn">
        <div class="row">
                <p class="col-lg-9 col-md-8 col-xs-12 cta-text">Want to start a custom fit Project for your home/business? &nbsp Talk to an Authorized Solar Professional.</p>
                <h3 class="col-lg-3 col-md-4 col-xs-12">
                <a href="{% url 'contact_us' %}">get in touch
                    <i class="fas fa-arrow-right"></i>
                </a>
                </h3>
        </div>
    </div>
</section>
{% endblock %}