{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %}
{% block title %}Inverter Installation {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>Inverter Installation</p>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'services' %}">Services</a></li>
        <li class="breadcrumb-item active">Inverter Installation</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="service-list row padding">
        <div class="col">
            <img src="{% static 'images/Inverter.webp' %}" alt="inverter image" />
            <p>
                    We render inverter installation services for clients who like this option in a unique way with our wll trained professionals
                    who are experienced in the the design and installation of inverter for residential and commercial purposes. We believe that
                    total customer satisfaction is achieved when a good quality product supported by a responsive after sales support and maintenance
                    service. We boast of well trained reliable engineers to give the necessary support for operations of all our inverter systems.our
                    services start from site inspection, load /energy analysis, installation, operations and maintenance. We work very close
                    with our customers to dermine the type and capacity of inverter needed taking into consideration the load the inverter will
                    be powering, usage condition, gadget/appliance priority and budget. We recommend usage of our inverters as adviced by our
                    engineers to ensure you get the most out of your inverter and keep them running optimally while preserving battery life.
                </p>
                <h4>Our Inverter service includes:</h4>
                <ul>
                        <li>Operations</li>
                        <li>Maintenance</li>
                        <li>Installation</li>
                        <li>Troubleshooting</li>
                        <li>Technical support</li>
                </ul>
        </div>
    </div>
</div>
{% endblock %}