{% extends 'base_layout.html' %}
{% block nav-service %}
menu-active
{% endblock %}
{% load static %}
{% block title %}{{ block.super }} Off-grid solar solution{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>OFF-GRID SOLAR INSTALLATION</h1>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'services' %}">Services</a></li>
        <li class="breadcrumb-item active">Off-grid-solar</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="light row padding">
        <ul class="list-group col-lg-4">
            <li class="list-group-item"><a href="{% url 'services' %}"><i class="fas fa-caret-right"></i> All Services</a></li>
            <li class="list-group-item"><a href="{% url 'solar_design' %}"><i class="fas fa-caret-right"></i> Residential Solar</a></li>
            <li class="list-group-item"><a href="{% url 'commercial_solar' %}"><i class="fas fa-caret-right"></i> Commercial Solar</a></li>
            <li class="list-group-item list-group-item-success"><a href="{% url 'off_grid_solar' %}"><i class="fas fa-caret-right"></i> Off-Grid Solar</a></li>
            <li class="list-group-item"><a href="{% url 'electrical_design' %}"><i class="fas fa-caret-right"></i> Solar Lighting</a></li>
            <li class="list-group-item"><a href="{% url 'solar_water_pump' %}"><i class="fas fa-caret-right"></i> Solar Water Pump</a></li>
            <li class="list-group-item"><a href="{% url 'energy_management' %}"><i class="fas fa-caret-right"></i> Solar Storage</a></li>
            <li class="list-group-item"><a href="{% url 'project_management' %}"><i class="fas fa-caret-right"></i> Solar Energy Mgt</a></li>
            <li class="list-group-item"><a href="{% url 'hvac' %}"><i class="fas fa-caret-right"></i> Solar Upgrade</a></li>
            <li class="list-group-item"><a href="{% url 'maintenance_service' %}"><i class="fas fa-caret-right"></i> Solar Maintenance</a></li>
        </ul>
        <div class="col-lg-8">
            <img src="{% static 'images/offgrid solar.webp' %}" alt="off-grid solar panels" />
        </div>
    </div>
</div>
<div class="container padding">
        <div class="row details">
            <div>
                <p>
                     We design and build solar panels for off-grid applications where there is no access to a conventional power grid. This application
                    is planned for rural areas and farms without access to the national grid. Solar panels are designed to produce more than
                    enough energy, which is then stored in a battery for later use, primarily at night. To meet the energy demand, we make sure
                    our off-grid infrastructure is well-designed and sized to handle cloudy and rainy days. We provide technical assistance and
                    work hard to reach out to customers directly through one-on-one sales and a variety of other approaches, such as phone consultations,
                    to provide acceptable solutions. We are committed to providing the best customer service in terms of both product performance,
                    pricing options, ensuring you can truly customize your system with desired specification that meet or exceed all goals. Our
                    aim is always for our customer's financial satisfaction, while ensuring we can achieve thier long-term energy goals and return
                    on investment in areas not connected to the grid. We are dedicated to delivering the best customer experience possible in
                    terms of product performance and pricing choices, ensuring that you can fully tailor your system to meet or exceed your objectives.
                    Our mission is to provide financial satisfaction to our customers while also ensuring that we can meet their long-term energy
                    goals and provide a return on investment in non-grid areas.
                </p>
            </div>
        </div>
</div>
<div class="container-fluid padding">
        <div class="row base">
            <div class="order-list col-lg-5 col-md-6 col-xs-12">
                <h4>Our off-grid includes:</h4>
                <ol>
                        <li>Operations</li>
                        <li>Day use System</li>
                        <li>Off Grid System</li>
                        <li>Grid Tied System</li>
                        <li>Technical support</li>
                </ol>
            </div>
            <div class="order-list col-lg-5 col-md-6 col-xs-12">
                <img src="{% static 'images/slider-img.webp' %}" alt="solar panel installation" />
            </div>
        </div>
</div>
<section id="call-to-action">
    <div class="container-fluid padding wow fadeIn">
        <div class="row">
                <p class="col-lg-9 col-md-8 col-xs-12 cta-text">Want to start a custom fit Project for your home/business? &nbsp Talk to an Authorized Solar Professional.</p>
                <h3 class="col-lg-3 col-md-4 col-xs-12">
                <a href="{% url 'contact_us' %}">Get in Touch
                    <i class="fas fa-arrow-right"></i>
                </a>
                </h3>
        </div>
    </div>
</section>
{% endblock %}