{% extends 'base_layout.html' %}
{% block nav-service %}
menu-active
{% endblock %}
{% load static %}
{% block title %}{{ block.super }} Solar street light solution{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>OFF-GRID SOLAR</h1>
            <h2></h2>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'services' %}">Services</a></li>
        <li class="breadcrumb-item active">Off-grid-solar</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="light row padding">
        <ul class="list-group col-lg-4">
            <li class="list-group-item"><a href="{% url 'services' %}"><i class="fas fa-caret-right"></i> All Services</a></li>
            <li class="list-group-item"><a href="{% url 'solar_design' %}"><i class="fas fa-caret-right"></i> Residential Solar</a></li>
            <li class="list-group-item"><a href="{% url 'commercial_solar' %}"><i class="fas fa-caret-right"></i> Commercial Solar</a></li>
            <li class="list-group-item list-group-item-success"><a href="{% url 'off_grid_solar' %}"><i class="fas fa-caret-right"></i> Off-Grid Solar</a></li>
            <li class="list-group-item"><a href="{% url 'electrical_design' %}"><i class="fas fa-caret-right"></i> Solar Lighting</a></li>
            <li class="list-group-item"><a href="{% url 'solar_water_pump' %}"><i class="fas fa-caret-right"></i> Solar Water Pump</a></li>
            <li class="list-group-item"><a href="{% url 'energy_management' %}"><i class="fas fa-caret-right"></i> Energy Storage Solution</a></li>
            <li class="list-group-item"><a href="{% url 'project_management' %}"><i class="fas fa-caret-right"></i> Energy Management</a></li>
            <li class="list-group-item"><a href="{% url 'hvac' %}"><i class="fas fa-caret-right"></i> System Upgrade</a></li>
            <li class="list-group-item"><a href="{% url 'maintenance_service' %}"><i class="fas fa-caret-right"></i> Maintenance</a></li>
        </ul>
        <div class="col-lg-8">
            <img src="{% static 'images/offgrid solar.jpg' %}" alt="off-grid solar panels" />
        </div>
    </div>
</div>
<div class="container padding">
        <div class="row details">
            <div>
                <p>
                    We design and install solar panels for off-grid applications where there is no coventional light grid in the environment.
                    This application is meant for rural areas and farms that are not connected to the national grid. Solar panels are designed
                    to generate more than enough power which are stored in the battery for later use mostly at night. We ensure our off-grid
                    system are well designed and sized to cater for cloudy and raining days to meet the energy demand.
                    <br /> We provide technical support and work smart to reach out directly with clients through one on one sales as well a number
                    of other methods including phone consultations to provide suitable solutions based upon needs and desires of customer.
                    We are committed to providing the best customer service in terms of both product performance, pricing options, ensuring
                    you can truly customize your system with desired specification that meet or exceed all goals. Our aim is always for our
                    customer's financial satisfaction, while ensuring we can achieve thier long-term energy goals and return on investment
                    in areas not connected to the grid.
                </p>
            </div>
        </div>
</div>
<div class="container-fluid padding">
        <div class="row base">
            <div class="order-list col-lg-5 col-md-6 col-xs-12">
                <h4>Our off-grid includes:</h4>
                <ol>
                        <li>Operations</li>
                        <li>Day use System</li>
                        <li>Off Grid System</li>
                        <li>Grid Tied System</li>
                        <li>Technical support</li>
                </ol>
            </div>
            <div class="order-list col-lg-5 col-md-6 col-xs-12">
                <img src="{% static 'images/slider-img.jpeg' %}" alt="solar panel installation" />
            </div>
        </div>
</div>
<section id="call-to-action">
    <div class="container-fluid padding wow fadeIn">
        <div class="row">
                <p class="col-lg-9 col-md-8 col-xs-12 cta-text">Want to start a custom fit Project for your home/business? &nbsp Talk to an Authorized Solar Professional.</p>
                <h3 class="col-lg-3 col-md-4 col-xs-12">
                <a href="{% url 'contact_us' %}">Get in Touch
                    <i class="fas fa-arrow-right"></i>
                </a>
                </h3>
        </div>
    </div>
</section>
{% endblock %}