{% extends 'base_layout.html' %}
{% block nav-pricing %}
menu-active
{% endblock %}
{% load static %}
{% block title %}{{ block.super }} Solar panel pricing{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>SOLAR INSTALLATION PRICING</h1>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Pages</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Pricing</li>
    </ol>
</nav>

<body>
<section>
    <div class="container-fluid padding">
        <div class="pricing-table">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>mini-kit</h6>
                    <div class="prices">
                        N176, 000
                        <span>
                            <strong>200w</strong> Module
                            <br />
                            <strong>1kva</strong> Inverter
                            <br />
                            <strong>60ah</strong> Battery
                            <br />
                            <strong>30amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>1</strong> Mini TV</li>
                        <li>
                            <strong>1</strong> Fan &nbsp;Laptop</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>mini-kit +</h6>
                    <div class="prices">
                        N242, 000
                        <span>
                            <strong>300w</strong> Module
                            <br />
                            <strong>1kva</strong> Inverter
                            <br />
                            <strong>100ah</strong> Battery
                            <br />
                            <strong>30amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>1</strong> TV</li>
                        <li>
                            <strong>1</strong> Fan &nbsp;Laptop</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>regular</h6>
                    <div class="prices">
                        N368,500
                        <span>
                            <strong>600w</strong> Module
                            <br />
                            <strong>1.5kva</strong> Inverter
                            <br />
                            <strong>200ah</strong> Battery
                            <br />
                            <strong>50amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>1</strong> TV</li>
                        <li>
                            <strong></strong> Fans &nbsp;Laptops</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>regular +</h6>
                    <div class="prices">
                        N480, 500
                        <span>
                            <strong>750w</strong> Module
                            <br />
                            <strong>2.5kva</strong> Inverter
                            <br />
                            <strong>200ah</strong> battery
                            <br />
                            <strong>50amp</strong> controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>1</strong> TV</li>
                        <li>
                            <strong></strong> Fans &nbsp;Laptops</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>standard</h6>
                    <div class="prices">
                        N646, 500
                        <span>
                            <strong>900w</strong> Module
                            <br />
                            <strong>2kva</strong> Inverter
                            <br />
                            <strong>300ah</strong> Battery
                            <br />
                            <strong>50amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>2</strong> TV</li>
                        <li>
                            <strong></strong> Fans &nbsp; Laptops</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>standard +</h6>
                    <div class="prices">
                        N735, 300
                        <span>
                            <strong>1.2kw</strong> Module
                            <br />
                            <strong>2.5kva</strong> Inverter
                            <br />
                            <strong>400ah</strong> Battery
                            <br />
                            <strong>60amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>2</strong> TV &nbsp;
                            <strong></strong> Fans &nbsp; Laptops</li>
                        <li>
                            <strong>1</strong> Fridge/Freezer</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>compact</h6>
                    <div class="prices">
                        N975, 450
                        <span>
                            <strong>1.5kw</strong> Module
                            <br />
                            <strong>3kva</strong> Inverter
                            <br />
                            <strong>400ah</strong> Battery
                            <br />
                            <strong>80amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>2</strong> TV &nbsp;
                            <strong></strong> Fans &nbsp;Laptops</li>
                        <li>
                            <strong>1</strong> Fridge/Freezer</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>compact +</h6>
                    <div class="prices">
                        N1, 335, 000
                        <span>
                            <strong>2kw</strong> Module
                            <br />
                            <strong>3kva</strong> Inverter
                            <br />
                            <strong>600ah</strong> Battery
                            <br />
                            <strong>80amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>3</strong> TV &nbsp;
                            <strong></strong> Fans &nbsp; Laptops</li>
                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong></strong> Washing machine</li>
                        <li>
                            <strong>All</strong> Light points &nbsp;
                            <strong></strong> Laptops</li></li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>advance</h6>
                    <div class="prices">
                        N2, 000, 000
                        <span>
                            <strong>3kw</strong> Module
                            <br />
                            <strong>3.5kw</strong> Inverter
                            <br />
                            <strong>800ah</strong> Battery
                            <br />
                            <strong>100amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>3</strong> TV &nbsp;
                            <strong></strong> Fans</li>

                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong></strong> Washing machine</li>
                        <li>
                            <strong>All</strong> Light points &nbsp;
                            <strong></strong> Laptops</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>advance +</h6>
                    <div class="prices">
                        N3, 480, 500
                        <span>
                            <strong>5kw</strong> Module
                            <br />
                            <strong>5kw</strong> Inverter
                            <br />
                            <strong>800ah</strong> Battery
                            <br />
                            <strong>120amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>3</strong> TV &nbsp;
                            <strong></strong> Fans &nbsp; Laptops</li>

                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong></strong> Washing machine</li>
                        <li>
                            <strong>All</strong> Light points &nbsp;
                            <strong>1</strong> AC(1HP)</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>premium</h6>
                    <div class="prices">
                        N3, 950, 000
                        <span>
                            <strong>6kw</strong> Module
                            <br />
                            <strong>5kw</strong> Inveter
                            <br />
                            <strong>1000ah</strong> Battery
                            <br />
                            <strong>140amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>3</strong> TV &nbsp;
                            <strong></strong> Fans &nbsp; Laptops</li>

                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong></strong> Washing machine</li>
                        <li>
                            <strong>All</strong> Light points &nbsp;
                            <strong>2</strong> AC(1HP)</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>premium +</h6>
                    <div class="prices">
                        N4, 550, 000
                        <span>
                            <strong>8kw</strong> Module
                            <br />
                            <strong>5kw</strong> Inverter
                            <br />
                            <strong>1200ah</strong> Battery
                            <br />
                            <strong>160amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>3</strong> TV &nbsp;
                            <strong></strong> Fans &nbsp; Laptops</li>

                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong></strong> Washing machine</li>
                        <li>
                            <strong>All</strong> Light points &nbsp;
                            <strong>3</strong> AC(1HP)</li>
                        <li>
                            <strong>1</strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <p>NB: On request, we will carryout load analysis on your facility to create custom-fit design, if the above designs does not meet your energy demands. <br />
                All designs above are created from popular load analysis request from our customers over-time</p>
    
        </div>
    </div>
</section>
<section id="call-to-action">
    <div class="container-fluid padding wow fadeIn">
        <div class="row">
                <p class="col-lg-9 col-md-8 col-xs-12 cta-text">Need an optimal solar system for your home/business? &nbsp Fill our form to get a CallBack.</p>
                <h3 class="col-lg-3 col-md-4 col-xs-12">
                <a href="{% url 'contact_us' %}">Get in Touch
                    <i class="fas fa-arrow-right"></i>
                </a>
                </h3>
        </div>
    </div>
</section>

</body>
{% endblock %}