{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %}
{% block title %}Pricing And Services {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>Switch to Solar and Save</h1>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Pricing</li>
    </ol>
</nav>
<section>
    <div class="container padding">
        <div class="row landing-page padding">
            <p>
                 Our installation comes with
                <strong>one year</strong> after sales technical support and aims to give optimum satisfaction and
                <strong>cost effective solution</strong> without compromising quality. On request, we will carryout load analysis on your facility
                to create custom-fit design, if the above designs does not meet your energy demands. Also our pricing package comes with
                installation kits, installation cost, logistics to site within Lagos. For site location outside Lagos, logistics is charged
                separately. Lastly we source our solar component from
                <strong>trusted and reliable suppliers</strong>, hence the one year warranty period incase of any default except for man-made cause
                of defects or natural cause.
            </p>
        </div>
    </div>
    <div class="container-fluid padding">
        <h5 class="pricing-header">MINI SOLAR</h5>
        <div class="pricing-table row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h5>0.36kwp - solar</h5>
                    <div class="prices">
                        N342, 000
                        <span>
                            <strong>300 W</strong> Mono Panels
                            <br />
                            <strong>30 AMPS</strong> Controller
                            <br />
                            <strong>150 AH</strong> Solar Battery
                            <br />
                            <strong>1 kVA</strong> Inverter
                        </span>
                    </div>
                    <h6>solar capacity</h6>
                    <p>All lighting (led recommended), A LED TV, A ceiling/standing Fan, A satelite decoder</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h5>0.54kwp - solar</h5>
                    <div class="prices">
                        N385, 000
                        <span>
                            <strong>540 W</strong> Mono Panels
                            <br />
                            <strong>40 AMPS</strong> Controller
                            <br />
                            <strong>200 AH</strong> Solar Battery
                            <br />
                            <strong>1.5 KVA</strong> Inverter
                        </span>
                    </div>
                    <h6>solar capacity</h6>
                    <p>All lighting (led recommended), 1 LED TV, Standing Fan, Home theatre/satelite decoder</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h5>0.72kwp - solar</h5>
                    <div class="prices">
                        N485, 000
                        <span>
                            <strong>720 W</strong> Mono Panels
                            <br />
                            <strong>50 AMPS</strong> Controller
                            <br />
                            <strong>200 AH</strong> Solar Battery
                            <br />
                            <strong>2 KVA</strong> Inverter
                        </span>
                    </div>
                    <h6>solar capacity</h6>
                    <p>All lighting (led recommended), A LED TV, 2 ceiling Fan, A home theatre/satelite decoder</P>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h5>1.08kwp - solar</h5>
                    <div class="prices">
                        N630, 000
                        <span>
                            <strong>1.08 KW</strong> Mono Panels
                            <br />
                            <strong>50 AMPS</strong> Controller
                            <br />
                            <strong>300 AH</strong> Solar Battery
                            <br />
                            <strong>2.5 KVA</strong> Inverter
                        </span>
                    </div>
                    <h6>solar capacity</h6>
                    <p>All lighting (led recommended), A LED/LCD TV, 2 ceiling Fan, A home theatre/satelite decoder</p>
                </div>
            </div>
        </div>
        <h5 class="pricing-header"> STANDARD SOLAR</h5>
        <div class="pricing-table row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h5>1.6kwp - solar</h5>
                    <div class="prices">
                        N1, 125, 000
                        <span>
                            <strong>1600 W</strong> Mono Panels
                            <br />
                            <strong>60 AMPS</strong> Controller
                            <br />
                            <strong>400 AH</strong> Solar Battery
                            <br />
                            <strong>3 KVA</strong> Inverter
                    </div>
                    <h6>solar capacity</h6>
                    <p>All lighting (led recommended), 2 LED/LCD TVs, 2 Laptops, 3 ceiling Fan, Freezer, A home theatre/satelite decoder</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h5>2kwp - solar</h5>
                    <div class="prices">
                        N1, 520, 000
                        <span>
                            <strong>2000 W</strong> Mono Panels
                            <br />
                            <strong>80 AMPS</strong> Controller
                            <br />
                            <strong>600 AH</strong> Solar Battery
                            <br />
                            <strong>3.5 KVA</strong> Inverter
                    </div>
                    <h6>solar capacity</h6>
                        <p>All lighting (led recommended), 2 LED/LCD TVs, Freezer, 4 Fans, Washing machine, Home theatre/satelite decoder</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h5>2.5kwp - solar</h5>
                    <div class="prices">
                        N1, 950, 000
                        <span>
                            <strong>2500 W</strong> Mono Panels
                            <br />
                            <strong>80 AMPS</strong> Controller
                            <br />
                            <strong>800 AH</strong> Solar Battery
                            <br />
                            <strong>3.5 KVA</strong> Inverter
                    </div>
                    <h6>Solar capacity</h6>
                        <p>
                            All lighting (led recommended), 3 LED/LCD TVs, Freezer, Fridge, 4 Fans, Washing machine, Home theatre/satelite decoder</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h5>3kwp - solar</h5>
                    <div class="prices">
                        N2, 350, 000
                        <span>
                            <strong>3000 W</strong> Mono Panels
                            <br />
                            <strong>100 AMPS</strong> MPPT Controller
                            <br />
                            <strong>800 AH</strong> Solar Battery
                            <br />
                            <strong>4.7 KVA</strong> Inverter
                    </div>
                    <h6>Solar capacity</h6>
                    <p>All lighting (led recommended), 4 LED/LCD TVs, Freezer, 2 Laptops, 4 Fans, Wash/pump machine, Home theatre</p>
                </div>
			</div>
        </div>
        <h5 class="pricing-header">PREMIUM SOLAR</h5>
        <div class="pricing-table row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h5>4kwp - solar</h5>
                    <div class="prices">
                        N3, 500, 000
                        <span>
                            <strong>4000 W</strong> Mono Panels
                            <br />
                            <strong>120 AMPS</strong> Controller
                            <br />
                            <strong>800 AH</strong> Solar Battery
                            <br />
                            <strong>5 KVA</strong> Inverter
                    </div>
                    <h6>Solar capacity</h6>
                    <p>All lighting (led recommended), 3 TVs, 2 Freezer/Wash machine, 1.5hp smart AC, Pump machine, Home theatre</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h5>6kwp - solar</h5>
                    <div class="prices">
                        N4, 580, 500
                        <span>
                            <strong>6000 W</strong> Mono Panels
                            <br />
                            <strong>140 AMPS</strong> Controller
                            <br />
                            <strong>1000 AH</strong> Solar Battery
                            <br />
                            <strong>7.5 KVA</strong> Inverter
                    </div>
                    <h6>solar capacity</h6>
                    <p>All lighting (led recommended), 4 TVs, 2 Freezers/Wash machine, 2 1Hp smart AC, A pump machine, Home theatre</p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h5>8kwp - solar</h5>
                    <div class="prices">
                        N5, 500, 000
                        <span>
                            <strong>7900 W</strong> Mono Panels
                            <br />
                            <strong>160 AMPS</strong> Controller
                            <br />
                            <strong>1200 AH</strong> Solar Battery
                            <br />
                            <strong>8 KVA</strong> Inverter
                    </div>
                    <h6>Solar capacity</h6>
                        <p>All lighting (led recommended), 4 TVs, 2 Freezer/Wash machine, 3 1Hp smart AC, Pump machine, Home theatre</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h5>10KWp - solar</h5>
                    <div class="prices">
                        N6, 550, 000
                        <span>
                            <strong>10 KW</strong> Mono Panels
                            <br />
                            <strong>200 AMPS</strong> Controller
                            <br />
                            <strong>1500 AH</strong> Solar Battery
                            <br />
                            <strong>10 KVA</strong> Inverter
                    </div>
                    <h6>Solar capacity</h6>
                    <p>All lighting (led recommended), 4 TVs, 2 Freezers/Wash machine, 4 1Hp smart AC, Pump machine, Home theatre</p>
                </div>
            </div>
            <span>NB:  <br />
                Prices are subject to changes based on current economic realities and Inflation.</span>
        </div>
    </div>
</section>
{% endblock %}