{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %}
{% block title %}Pricing And Services {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <p>Pricing Plan</p>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Pricing</li>
    </ol>
</nav>
<section>
    <div class="container-fluid padding">
        <h3 class="pricing-header">MINI PACKAGE</h3>
        <div class="pricing-table">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>mini 1</h6>
                    <div class="prices">
                        N262, 000
                        <span>
                            <strong>360w</strong> Module
                            <br />
                            <strong>1kw</strong> Inverter
                            <br />
                            <strong>100ah</strong> Battery
                            <br />
                            <strong>30amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>1</strong> Mini TV</li>
                        <li>
                            <strong>1</strong> Fan &nbsp;Laptop</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>mini 2</h6>
                    <div class="prices">
                        N342, 000
                        <span>
                            <strong>540w</strong> Module
                            <br />
                            <strong>1kw</strong> Inverter
                            <br />
                            <strong>150ah</strong> Battery
                            <br />
                            <strong>40amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>1</strong> Mini TV</li>
                        <li>
                            <strong>1</strong> Fan &nbsp;Laptop</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>mini 3</h6>
                    <div class="prices">
                        N460,000
                        <span>
                            <strong>900w</strong> Module
                            <br />
                            <strong>2kw</strong> Inverter
                            <br />
                            <strong>200ah</strong> Battery
                            <br />
                            <strong>50amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>1</strong> TV</li>
                        <li>
                            <strong></strong> Fans &nbsp;Laptops</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>mini 4</h6>
                    <div class="prices">
                        N595, 000
                        <span>
                            <strong>1.08kw</strong> Module
                            <br />
                            <strong>2kw</strong> Inverter
                            <br />
                            <strong>300ah</strong> battery
                            <br />
                            <strong>50amp</strong> controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>1</strong> TV</li>
                        <li>
                            <strong></strong> Fans &nbsp;Laptops</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
        </div>
        <h3 class="pricing-header"> STANDARD PACKAGE</h3>
        <div class="pricing-table">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>standard 1</h6>
                    <div class="prices">
                        N850, 000
                        <span>
                            <strong>1.5kw</strong> Module
                            <br />
                            <strong>1.5kva</strong> Inverter
                            <br />
                            <strong>400ah</strong> Battery
                            <br />
                            <strong>50amp</strong> Controller</span>
                    </div>
                    <ul>
                            <p>load capacity</p>
                            <li>
                                <strong>2</strong> TV &nbsp;
                                <strong></strong> Fans &nbsp; Laptops</li>
                            <li>
                                <strong>1</strong> Fridge/Freezer</li>
                            <li>
                                <strong>All</strong> Light points</li>
                            <li>
                                <strong></strong> Decoder/Home theater</li>
                        </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>standard 2</h6>
                    <div class="prices">
                        N960, 000
                        <span>
                            <strong>1.8kw</strong> Module
                            <br />
                            <strong>2.0kva</strong> Inverter
                            <br />
                            <strong>400ah</strong> Battery
                            <br />
                            <strong>60amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>2</strong> TV &nbsp;
                            <strong></strong> Fans &nbsp; Laptops</li>
                        <li>
                            <strong>1</strong> Fridge/Freezer</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>standard 3</h6>
                    <div class="prices">
                        N1, 200, 000
                        <span>
                            <strong>2.1kw</strong> Module
                            <br />
                            <strong>2.5kva</strong> Inverter
                            <br />
                            <strong>600ah</strong> Battery
                            <br />
                            <strong>80amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>2</strong> TV &nbsp;
                            <strong></strong> Fans &nbsp;Laptops</li>
                        <li>
                            <strong>1</strong> Fridge/Freezer</li>
                        <li>
                            <strong>All</strong> Light points</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>standard 4</h6>
                    <div class="prices">
                        N1, 450, 000
                        <span>
                            <strong>2.4kw</strong> Module
                            <br />
                            <strong>3kva</strong> Inverter
                            <br />
                            <strong>800ah</strong> Battery
                            <br />
                            <strong>80amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>3</strong> TV &nbsp;
                            <strong></strong> Fans &nbsp; Laptops</li>
                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong></strong> Washing machine</li>
                        <li>
                            <strong>All</strong> Light points &nbsp;
                            <strong></strong> Laptops</li></li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
        </div>
        <h3 class="pricing-header">PREMIUM PACKAGE</h3>
        <div class="pricing-table">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>premium 1</h6>
                    <div class="prices">
                        N2, 271, 000
                        <span>
                            <strong>3.5kw</strong> Module
                            <br />
                            <strong>3.5kw</strong> Inverter
                            <br />
                            <strong>800ah</strong> Battery
                            <br />
                            <strong>100amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>3</strong> TV &nbsp;
                            <strong></strong> Fans</li>

                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong></strong> Washing machine</li>
                        <li>
                            <strong>All</strong> Light points &nbsp;
                            <strong></strong> Laptops</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>premium 2</h6>
                    <div class="prices">
                        N3, 580, 500
                        <span>
                            <strong>5kw</strong> Module
                            <br />
                            <strong>5kw</strong> Inverter
                            <br />
                            <strong>800ah</strong> Battery
                            <br />
                            <strong>120amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>3</strong> TV &nbsp;
                            <strong></strong> Fans &nbsp; Laptops</li>

                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong></strong> Washing machine</li>
                        <li>
                            <strong>All</strong> Light points &nbsp;
                            <strong>1</strong> AC(1HP)</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>premium 3</h6>
                    <div class="prices">
                        N3, 950, 000
                        <span>
                            <strong>6kw</strong> Module
                            <br />
                            <strong>5kw</strong> Inveter
                            <br />
                            <strong>1000ah</strong> Battery
                            <br />
                            <strong>140amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>3</strong> TV &nbsp;
                            <strong></strong> Fans &nbsp; Laptops</li>

                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong></strong> Washing machine</li>
                        <li>
                            <strong>All</strong> Light points &nbsp;
                            <strong>2</strong> AC(1HP)</li>
                        <li>
                            <strong></strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table">
                    <h6>premium 4</h6>
                    <div class="prices">
                        N4, 550, 000
                        <span>
                            <strong>8kw</strong> Module
                            <br />
                            <strong>5kw</strong> Inverter
                            <br />
                            <strong>1200ah</strong> Battery
                            <br />
                            <strong>160amp</strong> Controller</span>
                    </div>
                    <ul>
                        <p>load capacity</p>
                        <li>
                            <strong>3</strong> TV &nbsp;
                            <strong></strong> Fans &nbsp; Laptops</li>

                        <li>
                            <strong>1</strong> Freezer &nbsp;
                            <strong></strong> Washing machine</li>
                        <li>
                            <strong>All</strong> Light points &nbsp;
                            <strong>3</strong> AC(1HP)</li>
                        <li>
                            <strong>1</strong> Decoder/Home theater</li>
                    </ul>
                </div>
            </div>
            <p>NB: On request, we will carryout load analysis on your facility to create custom-fit design, if the above designs does not meet your energy demands. <br />
                All designs above are created from popular load analysis request from customers over-time</p>
    
        </div>
    </div>
</section>
{% endblock %}