{% extends 'base_layout.html' %}
{% block nav-design-plans %}
menu-active
{% endblock %}
{% load static %}
{% block title %}{{ block.super }} products-details{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>Products Details</h1>
            <h2></h2>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Pages</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</nav>

<body>
    <div class="container padding">
        <div class="product-design row padding">
            <div class="product-img col-lg-6 col-md-5 col-xs-12">
                <img class="shop-item-image" src="{% static 'images/hp-3.5.jpg' %}" alt="high power inverter" />
            </div>
            <div class="product-details col-lg-6 col-md-7 col-xs-12">
                
                <h2>4.37kva High Power Inverter</h2>
                <h4>N397, 000.00</h4>
                <p>Our solar panels are low profile and durable, quietly converting sunlight to energy for decades to come. Integrated
                    hardware and simple design design is achieved by securing this panels on your roof or ground mount to achieve
                    desired aesthetic. Our products are high on demand due to its quality and affordable prices.
                    <ul>
                        <li>Excellent low light performance</li>
                        <li>Advance surface texture</li>
                        <li>Black surface field</li>
                        <li>High effienciency</li>
                    </ul>
                </p>
                
                        <div class="cart-click">
                                <button class="btn shop-item-button" type="button">Add to Cart</button> 
                        </div>   
                   
                
                
            </div>
        </div>
    </div>
</body>
{% endblock %}