{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %}
{% block title %}Solar Project Operations {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>Project Planning</h1>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="breadcrumb-item active">Project Planning</li>
    </ol>
</nav>
<div class="container padding"> 
        <div class="row padding">
        <div class="service-list padding">
            <img src="{% static 'images/project-handling.jpg' %}" alt="rooftop mounted solar panels" />
            <p>
                At Greensource Energy Consult, we offer comprehensive project planning and management services to ensure the successful implementation
                of your solar projects. Our experienced project managers and teams have the expertise to oversee all aspects of your
                solar project, from initial planning to final execution. Here's an overview of our project planning and management
                services:
            </p>
            <ul>
                <li>Project Assessment</li>
                <li>Feasibility study</li>
                <li>System Design</li>
                <li>Procurement</li>
                <li>Construction/Installation</li>
                <li>Project Monitoring</li>
                <li>Quality Control</li>
                <li>Post project support/maintenance</li>
            </ul>
            <p>By choosing Greensource Energy Consult for your project planning and management needs, you can rely on our expertise and commitment
                to delivering successful solar projects. We strive to ensure that your project is completed on time, within budget,
                and meets your specific requirements. Contact us today to discuss your solar project and how our project planning
                and management services can benefit you.
            </p>
        </div>
    </div>
</div>
{% endblock %}