{% extends 'base_layout.html' %}
{% block nav-projects %}
menu-active
{% endblock %}
{% load static %}
{% block title %}All Solar Projects {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <p>Recent Projects</p>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Projects</li>
    </ol>
</nav>
<div class=" container-fluid padding page-header">
    <h1>We believe in acting responsibly & sustainably in our operations</h1>
</div>
<div class="container-fluid padding">
    <div class="row projects">
        {% if projects %}
        {% for project in projects %}
        <div class="portfolio col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="{{ project.get_absolute_url }}">
                <div class="image-block">
                    <img src="{{ project.image.url }}" alt="alt img" />
                    <div class="overlay">
                        <div class="caption">{{ project.title }}</div>
                    
                </div>
                </div>
            </a>
        </div>
        {% endfor %}

        {% else %}
        <p>There are no recent project</p>
        {%  endif %}
    </div>
</div>
<section id="call-to-action">
    <div class="container-fluid padding wow fadeIn">
        <div class="row">
                <p class="col-lg-9 col-md-8 col-xs-12 cta-text">Need an optimal solar system for your home/business? &nbsp Fill our form to get a CallBack.</p>
                <h3 class="col-lg-3 col-md-4 col-xs-12">
                <a href="{% url 'contact_us' %}">Get in Touch
                    <i class="fas fa-arrow-right"></i>
                </a>
                </h3>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid padding">
        <div class="row-counters row padding">
            <div class="counter-heading col-12">
                <h5>Our Numbers</h5>
                <hr />
                <p>our business success track record</p>
            </div>
            <div class="counter col-xs-12 col-md-6 col-lg-3">
                <div>
                    <i class="far fa-smile"></i>
                </div>
                <span data-toggle="counter-up">18</span>
                <span class="sign">+</span>
                <p>Happy Clients</p>
            </div>
            <div class="counter col-xs-12 col-md-6 col-lg-3">
                <div>
                    <i class="fas fa-project-diagram"></i>
                </div>
                <span data-toggle="counter-up">28</span>
                <span class="sign">+</span>
                <p>Completed Projects</p>
            </div>
            <div class="counter col-xs-12 col-md-6 col-lg-3">
                <div>
                    <i class="far fa-clock"></i>
                </div>
                <span data-toggle="counter-up">1,460</span>
                <span class="sign">+</span>
                <p>Hours of Support</p>
            </div>
            <div class="counter col-xs-12 col-md-6 col-lg-3">
                <div>
                    <i class="fas fa-users"></i>
                </div>
                <span data-toggle="counter-up">5</span>
                <span class="sign">+</span>
                <p>Team Members</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}