{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %}
{% block title %}Solar Project Operations {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <p>Project Development</p>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="breadcrumb-item active">Project Development</li>
    </ol>
</nav>
<div class="container padding"> 
        <div class="service-list row padding">
        <div class="col">
            <img src="{% static 'images/project-handling.jpg' %}" alt="rooftop mounted solar panels" />
            <p> 
                 Greensource Energy offer Project development, operations and management services for individuals seeking to invest funds
                in other areas through cost reduction from solar power systems, Business seeking to save money on their energy system, Property
                owners looking to increase the value of their portfolios for Sale, Resale value and Rental purposes. We will assist you in
                weighing your options, putting the best plan into action, delivering the outcomes with continuous management to consistently
                produce positive outcomes. Our goal is to ensure your system is delivered within time-line, without quality compromise and
                budget. We pay attention to every details to ensure we use the best resource and manpower to bring your project to life while
                adhering to best management practices in Engineering and Construction.
            </p>
                <h4>Our Project Services include:</h4>
                <ul>
                    <li>Commercial Solar</li>
                    <li>Residential Solar</li>
                    <li>Third party Projects</li>
                    <li>Electrical Installation</li>
                </ul>
        </div>
    </div>
</div>
{% endblock %}