{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %}
{% block title %}Solar Energy Services {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>Greensource Services</h1>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Services</li>
    </ol>
</nav>
<div class=" container-fluid padding page-header">
        <h1>Diferent Services for Solar Energy Systems</h1>
    </div>


<section>
        <div class="container padding">
            <div class="row service-page-three">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-service-style-three">
                        <div class="text-block">
                            <div class="block">
                                <i class="fas fa-solar-panel"></i>
                            </div>
                            <h3><a href="{% url 'solar_design' %}">Design/Installation</a></h3>
                            <p>We leverage on our expertise and experience to deliver cost-effective long...</p>
                            <a href="{% url 'solar_design' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-service-style-three">
                        <div class="text-block">
                            <div class="block">
                                    <i class="far fa-lightbulb"></i>
                            </div>
                            <h3><a href="{% url 'electrical_design' %}">Street Lighting</a></h3>
                            <p>We design and install solar lights for houses, offices, neighborhoods, and market ...</p>
                            <a href="{% url 'electrical_design' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-service-style-three">
                        <div class="text-block">
                            <div class="block">
                                    <i class="fas fa-car-battery"></i>
                            </div>
                            <h3><a href="{% url 'energy_management' %}">Energy Storage</a></h3>
                            <p>We build energy storage for solar energy systems, which is important for ensuring ...</p>
                            <a href="{% url 'energy_management' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-service-style-three">
                            <div class="text-block">
                                <div class="block">
                                        <i class="fas fa-tasks"></i>
                                </div>
                                <h3><a href="{% url 'project_management' %}">Project Development</a></h3>
                                <p>Your home/business energy usage and GHG emissions can be minimized with the ...</p>
                                <a href="{% url 'project_management' %}" class="read-more">Read More</a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-service-style-three">
                            <div class="text-block">
                                <div class="block">
                                        <i class="fas fa-bolt"></i>
                                </div>
                                <h3><a href="{% url 'hvac' %}">Electrical installation</a></h3>
                                <p>You need people you can rely on when it comes to electrical installations. We have ...</p>
                                <a href="{% url 'hvac' %}" class="read-more">Read More</a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-service-style-three">
                            <div class="text-block">
                                <div class="block">
                                        <i class="fas fa-tools"></i>
                                </div>
                                <h3><a href="{% url 'maintenance_service' %}">System Maintenance</a></h3>
                                <p>Solar Energy Systems should and must be maintained even though they are fairly passive...</p>
                                <a href="{% url 'maintenance_service' %}" class="read-more">Read More</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}