{% extends 'base_layout.html' %}
{% block nav-service %}
menu-active
{% endblock %}
{% load static %}
{% block title %}Solar Energy Services {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <p>What We Offer</p>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Services</li>
    </ol>
</nav>
<div class=" container-fluid padding page-header">
        <h1>We Offer Options For Design And Installation Of Solar Energy Systems</h1>
    </div>


<section>
        <div class="container padding">
            <div class="row service-page-three">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="single-service-style-three">
                        <div class="text-block">
                            <div class="icon-block">
                                    <i class="fas fa-home"></i>
                            </div>
                            <h3><a href="{% url 'solar_design' %}">Residential Solar</a></h3>
                            <p>Solar panels for home solar energy systems are designed, installed, and maintained by...</p>
                            <a href="{% url 'solar_design' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="single-service-style-three">
                        <div class="text-block">
                            <div class="icon-block">
                                    <i class="fas fa-industry"></i>
                            </div>
                            <h3><a href="{% url 'commercial_solar' %}">Commercial Solar</a></h3>
                            <p>We design, install, and operate solar panels for commercial applications ranging from ...</p>
                            <a href="{% url 'commercial_solar' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="single-service-style-three">
                        <div class="text-block">
                            <div class="icon-block">
                                    <i class="fas fa-hdd"></i>
                            </div>
                            <h3><a href="{% url 'off_grid_solar' %}">Inverter Installation</a></h3>
                            <p>We render inverter installation services for clients who like this option in a unique way ...</p>
                            <a href="{% url 'off_grid_solar' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="single-service-style-three">
                        <div class="text-block">
                            <div class="icon-block">
                                    <i class="far fa-lightbulb"></i>
                            </div>
                            <h3><a href="{% url 'electrical_design' %}">Solar Lighting</a></h3>
                            <p>We design and install solar lights for houses, offices, neighborhoods, and market ...</p>
                            <a href="{% url 'electrical_design' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="single-service-style-three">
                        <div class="text-block">
                            <div class="icon-block">
                                    <i class="fas fa-solar-panel"></i>
                            </div>
                            <h3><a href="{% url 'solar_water_pump' %}">Solar Pump</a></h3>
                            <p>Since it lowers the cost of burning fossil fuels and provides energy efficiency ...</p>
                            <a href="{% url 'solar_water_pump' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="single-service-style-three">
                        <div class="text-block">
                            <div class="icon-block">
                                    <i class="fas fa-car-battery"></i>
                            </div>
                            <h3><a href="{% url 'energy_management' %}">Solar Storage</a></h3>
                            <p>We build energy storage for solar energy systems, which is important for ensuring ...</p>
                            <a href="{% url 'energy_management' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="single-service-style-three">
                            <div class="text-block">
                                <div class="icon-block">
                                        <i class="fas fa-charging-station"></i>
                                </div>
                                <h3><a href="{% url 'project_management' %}">Energy Management</a></h3>
                                <p>Your home/business energy usage and GHG emissions can be minimized with the ...</p>
                                <a href="{% url 'project_management' %}" class="read-more">Read More</a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="single-service-style-three">
                            <div class="text-block">
                                <div class="icon-block">
                                        <i class="fas fa-bolt"></i>
                                </div>
                                <h3><a href="{% url 'hvac' %}">Electrical installation</a></h3>
                                <p>You need people you can rely on when it comes to electrical installations ...</p>
                                <a href="{% url 'hvac' %}" class="read-more">Read More</a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="single-service-style-three">
                            <div class="text-block">
                                <div class="icon-block">
                                        <i class="fas fa-tools"></i>
                                </div>
                                <h3><a href="{% url 'maintenance_service' %}">Maintenance Retrofit</a></h3>
                                <p>We're committed to increasing the production of renewable energy and ensuring ...</p>
                                <a href="{% url 'maintenance_service' %}" class="read-more">Read More</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>

<section id="call-to-action">
    <div class="container-fluid padding wow fadeIn">
        <div class="row">
                <p class="col-lg-9 col-md-8 col-xs-12 cta-text">Need an optimal solar system for your home/business? &nbsp Fill our form to get a CallBack.</p>
                <h3 class="col-lg-3 col-md-4 col-xs-12">
                <a href="{% url 'contact_us' %}">Get in Touch
                    <i class="fas fa-arrow-right"></i>
                </a>
                </h3>
        </div>
    </div>
</section>
{% endblock %}