{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %}
{% block title %}Solar Energy Services {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>Our Solar Services</h1>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Services</li>
    </ol>
</nav>
<div class="container-fluid padding page-header">
        <h2>Solar Energy Solutions We Cover</h2>
    </div>
<section>
        <div class="container padding">
            <div class="row service-page-three">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-service-style-three">
                        <div class="text-block">
                            <div class="block">
                                <i class="fas fa-solar-panel"></i>
                            </div>
                            <h3><a href="{% url 'solar_design' %}">Design/Installation</a></h3>
                            <p>We offer comprehensive solar design and installation services to help you harness the power ...</p>
                            <a href="{% url 'solar_design' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-service-style-three">
                        <div class="text-block">
                            <div class="block">
                                    <i class="far fa-lightbulb"></i>
                            </div>
                            <h3><a href="{% url 'electrical_design' %}">Solar Lighting</a></h3>
                            <p>We specialize in providing solar street light services, offering sustainable lighting solutions ...</p>
                            <a href="{% url 'electrical_design' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-service-style-three">
                        <div class="text-block">
                            <div class="block">
                                    <i class="fas fa-car-battery"></i>
                            </div>
                            <h3><a href="{% url 'energy_management' %}">Off-Grid/Backup</a></h3>
                            <p>We offer comprehensive off-grid and power backup services to ensure reliable and uninterrupted</p>
                            <a href="{% url 'energy_management' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-service-style-three">
                            <div class="text-block">
                                <div class="block">
                                        <i class="fas fa-tasks"></i>
                                </div>
                                <h3><a href="{% url 'project_management' %}">Project Planning</a></h3>
                                <p>We offer comprehensive project planning and management services to ensure the successful...</p>
                                <a href="{% url 'project_management' %}" class="read-more">Read More</a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-service-style-three">
                            <div class="text-block">
                                <div class="block">
                                        <i class="fas fa-bolt"></i>
                                </div>
                                <h3><a href="{% url 'hvac' %}">Upgrades/Expansion</a></h3>
                                <p>We offer solar upgrades and expansion services to help you optimize and expand your existing...</p>
                                <a href="{% url 'hvac' %}" class="read-more">Read More</a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-service-style-three">
                            <div class="text-block">
                                <div class="block">
                                        <i class="fas fa-tools"></i>
                                </div>
                                <h3><a href="{% url 'maintenance_service' %}">Maintenance</a></h3>
                                <p>We are committed to providing reliable and professional solar maintenance services. Regular maintenance...</p>
                                <a href="{% url 'maintenance_service' %}" class="read-more">Read More</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}