{% extends 'base_layout.html' %}
{% block nav-service %}
menu-active
{% endblock %}
{% load static %}
{% block title %}{{ block.super }} Solar pump solution{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>SOLAR WATER PUMP</h1>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'services' %}">Services</a></li>
        <li class="breadcrumb-item active">Solar-water-pump</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="light row padding">
        <ul class="list-group col-lg-4">
            <li class="list-group-item"><a href="{% url 'services' %}"><i class="fas fa-caret-right"></i> All Services</a></li>
            <li class="list-group-item"><a href="{% url 'solar_design' %}"><i class="fas fa-caret-right"></i> Residential Solar</a></li>
            <li class="list-group-item"><a href="{% url 'commercial_solar' %}"><i class="fas fa-caret-right"></i> Commercial Solar</a></li>
            <li class="list-group-item"><a href="{% url 'off_grid_solar' %}"><i class="fas fa-caret-right"></i> Off-Grid Solar</a></li>
            <li class="list-group-item"><a href="{% url 'electrical_design' %}"><i class="fas fa-caret-right"></i> Solar Lighting</a></li>
            <li class="list-group-item  list-group-item-success"><a href="{% url 'solar_water_pump' %}"><i class="fas fa-caret-right"></i> Solar Water Pump</a></li>
            <li class="list-group-item"><a href="{% url 'energy_management' %}"><i class="fas fa-caret-right"></i> Energy Storage Solution</a></li>
            <li class="list-group-item"><a href="{% url 'project_management' %}"><i class="fas fa-caret-right"></i> Energy Management</a></li>
            <li class="list-group-item"><a href="{% url 'hvac' %}"><i class="fas fa-caret-right"></i> System Upgrade</a></li>
            <li class="list-group-item"><a href="{% url 'maintenance_service' %}"><i class="fas fa-caret-right"></i> Maintenance</a></li>
        </ul>
        <div class="col-lg-8">
            <img src="{% static 'images/solar-p.jpg' %}" alt="solar pumping machine" />
        </div>
    </div>
</div>
<div class="container padding">
        <div class="row details">
            <div>
                <p>
                    Solar submersible and surface pump is fast becoming a means for getting water from wells and boreholes as it reduces cost
                    of burning fossil fuels and provides energy secuirty. We design and install for residential, commercial and more importantly
                    agricultural activities. Our solar pumps are designed to produce electricity to lift water from wells using energy of
                    the sun. We are committed to creating an eco-friendly system which can deliver clean energy at a reasonable price while
                    reducing environmental impact of fossil fuels and cutting down on the cost of rising cost of fuels. Our design and installation
                    is cost-effective in maintaining normal living conditions as it is guaranteed to give u water every single day irrespective
                    of the weather cloudy, sunny or even when it rains. It can be used for residential purpose (domestic use), commercial
                    purposes like community borehole, manufacturing production needing water, agricultural activities like irrigation, fishery
                    activities, poultry and other farm work. Our systems installation are proven to meet the highest safety standards, very
                    efficient and easy to operate by all. We ensure quality is the end product of our services and they are cost effective.
                </p>
            
            </div>
        </div>
</div>
<div class="container-fluid padding">
        <div class="row base">
            <div class="order-list col-lg-5 col-md-6 col-xs-12">
                <h4>Our Street lighting service includes:</h4>
                <ol>
                    <li>Design</li>
                    <li>Installation</li>
                    <li>Operation</li>
                    <li>Troubleshooting</li>
                </ol>
            </div>
            <div class="order-list col-lg-5 col-md-6 col-xs-12">
                <img src="{% static 'images/solar-pump.jpeg' %}" alt="solar panel with water pump" />
            </div>
        </div>
</div>
<section id="call-to-action">
    <div class="container-fluid padding wow fadeIn">
        <div class="row">
                <p class="col-lg-9 col-md-8 col-xs-12 cta-text">Want to start a custom fit Project for your home/business? &nbsp Talk to an Authorized Solar Professional.</p>
                <h3 class="col-lg-3 col-md-4 col-xs-12">
                <a href="{% url 'contact_us' %}">Get in Touch
                    <i class="fas fa-arrow-right"></i>
                </a>
                </h3>
        </div>
    </div>
</section>
{% endblock %}