{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %} 
{% block title %}Residential Solar Panels Installation {{ block.super }}{% endblock %} 
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <p>Residential Solar</p>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="breadcrumb-item active">Residential-solar</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="service-list row padding">
        <div class="col">
            <img src="{% static 'images/residential-solar.webp' %}" alt="rooftop mounted solar panels" />
            <p>
                Solar panels for home solar energy systems are designed, installed, and maintained by us. We believe that a home should be
                a calming environment, so we assist you in deciding the best system for your needs, ensuring that your property
                is powered efficiently at all times. At Greensource Energy, we are committed to assisting homeowners in choosing
                a solar system that is both economical and environmentally friendly. Our team will oversee each component's
                design process, allowing customers to determine exactly what capability will meet their needs from generation
                to consumption. We've given designs to homes with an average capacity of 2kW when mounted on their roofs
                over time. From start to finish, our business is concentrated on delivering dependable service at reasonable
                prices. We are dedicated to delivering the best customer experience in terms of product performance as well
                as pricing choices, ensuring that you can fully tailor your system to meet or exceed all of your objectives.
            </p>
            <h4>Our residential solar energy system services includes:</h4>
            <ul>
                <li>Design</li>
                <li>Installation</li>
                <li>Operations</li>
                <li>Grid Tied System</li>
                <li>Technical support</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}