{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %} 
{% block title %}Solar Design & Installation {{ block.super }}{% endblock %} 
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>Greensource Design & Installation</h1>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="breadcrumb-item active">Design & Installation</li>
    </ol>
</nav>
<div class="container padding">
    <div class="row padding">
        <div class="service-list  padding">
            <img src="{% static 'images/residential-solar.webp' %}" alt="rooftop mounted solar panels" />
            <p>
                At Greensource Energy Consult, we offer comprehensive solar design and installation services to help you harness the power
                of the sun and transition to clean, renewable energy. Our experienced team of engineers, technicians, and project
                managers work closely with you to create a customized solar system that meets your specific energy needs and maximizes
                your return on investment. Here's an overview of our solar design and installation process:
            </p>
            <ul>
                <li>Initial Consultation</li>
                <li>Site Assessment</li>
                <li>Customized Design</li>
                <li>Quotation</li>
                <li>Installation</li>
            </ul>
            <p>By choosing us as your best plug for your solar design and installation needs, you can trust that you are partnering
               with experts who are dedicated to delivering high-quality, reliable, and efficient solar solutions. Contact us today
               to get started on your solar project and take a significant step towards a sustainable future.
            </p>
        </div>
    </div>
</div>
{% endblock %}