{% extends 'base_layout.html' %}
{% block nav-service %} active {% endblock %}
{% load static %}
{% block title %}Solar Water Pump Installation {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <p>Solar Water Pump</p>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'services' %}">Services</a></li>
        <li class="breadcrumb-item active">Solar-water-pump</li>
    </ol>
</nav>
<div class="container-fluid padding">
    <div class="service-list row padding">
        <div class="col">
            <img src="{% static 'images/solar-p.webp' %}" alt="solar pumping machine" />
            <p>
                Since it lowers the cost of burning fossil fuels and provides energy efficiency, solar submersible and surface pumps are
                increasingly becoming a common way to get water from wells and boreholes. We design and build for a variety
                of purposes, including residential, industrial, and, most importantly, agricultural. Our solar pumps use
                the sun's energy to generate electricity, allowing us to pump water from wells. We are dedicated to developing
                an environmentally sustainable infrastructure that can provide renewable energy at a fair cost while reducing
                the environmental effects of fossil fuels and lowering the cost of increasing fuel prices. Our design and
                installation is cost-effective in maintaining normal living conditions as it's guaranteed to provide you
                with water every day, rain or shine. It can be used for domestic purposes (domestic use), commercial purposes
                (community boreholes, manufacturing production that needs water), agricultural activities (irrigation, fishery
                activities, poultry, and other farm work), and agricultural activities (irrigation, fishery activities, poultry,
                and other farm work). Our systems have been proven to follow the highest safety requirements, as well as
                being highly effective and simple to use. Our services are high-quality and cost-effective.
            </p>
            <h4>Our Street lighting service includes:</h4>
            <ul>
                <li>Design</li>
                <li>Installation</li>
                <li>Operation</li>
                <li>Troubleshooting</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}