{% extends 'base_layout.html' %}
{% load static %}
{% block title %}{{ block.super }} Testimonial{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="header row padding">
        <div class="col-12 animated fadeIn">
            <h1>TESTIMONIALS</h1>
            <h2>What customers/clients say about our services</h2>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Pages</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Testimonial</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="single-testimonial-style-one">
                <div class="image-block">
                    <div class="inner-block">
                        <img src="{% static 'images/b02.jpg' %}" alt="Awesome Image" />
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <div class="text-block">
                    <h3>Goodness Damilare</h3>
                    <span>Enterpreneur</span>
                    <p>Excellent service, competitive pricing and great customer support. It’s throughly refreshing to get such
                        efficient solar system.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="single-testimonial-style-one">
                <div class="image-block">
                    <div class="inner-block">
                        <img src="{% static 'images/boye.jpg' %}" alt="Awesome Image" />
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <div class="text-block">
                    <h3>Adeboye Pama</h3>
                    <span>CEO pama-natra</span>
                    <p>My expectation of your service, particularly the installation was indeed exceeded. Thanks for the great
                        job and professional advice.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="single-testimonial-style-one">
                <div class="image-block">
                    <div class="inner-block">
                        <img src="{% static 'images/b02.jpg' %}" alt="Awesome Image" />
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <div class="text-block">
                    <h3>Segun Taiwo</h3>
                    <span>Graphics designer</span>
                    <p>The installation process went well. The Installers were efficient on the job and was carried along at
                        each stage and process.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}