<div class="side-bar col-xs-12 col-md-8 col-lg-4">
    <form action="#">
        <div class="search-option">
            <input type="text" placeholder="Search...">
            <button class="button" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
    <h6>categories</h6>
    <ul class="list-group">
        {% for category in categories %}
        <li class="list-group-item"><i class="fas fa-caret-right"></i>&nbsp; <a href="/news/category/{{ category.slug }}">{{ category.title }}</a></li>
        {% endfor %}
    </ul>

    <h5>Latest Post</h5>
    <ul class="list-unstyled">
        {% for post in posts %}
        <li class="media">
            <img src="{{ post.thumb.url }}" class="mr-3" alt="..." />
            <div class="media-body">
                <p><a href="{{ post.get_absolute_url }}">{{post.title}}</a><br /> <span class="green"><i class="far fa-calendar-alt"></i> {{ post.date|date:"M d, Y" }}</span></p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="single-sidebar">
        <div class="title-box">
            <h3>Follow Us</h3>
        </div>
        <div class="socia">
            <a href="https://www.facebook.com/greensourcenergy"><i class="fab fa-facebook"></i></a>
            <a href="https://www.twitter.com/greenn_energy"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/greensource-energy"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/greensourcenergy"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</div>