<div class="side-bar col-xs-12 col-md-8 col-lg-4">
    <form action="#">
        <div class="search-option">
            <input type="text" placeholder="Search...">
            <button class="button" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
    <h6>categories</h6>
    <ul class="list-group">
        {% for category in categories %}
        <li class="list-group-item"><i class="fas fa-caret-right"></i>&nbsp; <a href="/news/category/{{ category.slug }}">{{ category.title }}</a></li>
        {% endfor %}
    </ul>

    <h5>Latest Post</h5>
    <ul class="list-unstyled">
        {% for post in posts %}
        <li class="media">
            <amp-img src="{{ post.thumb.url }}" class="mr-3" alt="blog img" width="70px" height="65px" layout="responsive"></amp-img>
            <div class="media-body">
                <p><a href="{{ post.get_absolute_url }}">{{post.title}}</a><br /> <span class="green"><i class="far fa-calendar-alt"></i> {{ post.date|date:"M d, Y" }}</span></p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>